@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
body{
	font-family:'roboto';
}

img{
	max-width: 100%;
}

input{
	outline: none;
}

a{
	text-decoration: none;
}
.center{
	text-align: center;
}
hr{
	border-color: #d3d3d5;
	border-bottom: 1px;
	opacity: 0.5;
}
ul{
	list-style: none;
}
p{
	font-size: 14px;
	line-height: 1.5;
	color: #9d9e9f;
	margin-bottom: 30px;
}

.backdrop {
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.4);
	opacity: 0;
	z-index: 4;
	transition: opacity 0.3s ease;
}
.on{
	opacity: 1;
	left: 0;
}
.no-scroll {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.header-top{
	font-size: 13px;
	font-family: 'Roboto';
	background: #39393a;
	color: #fff;
	padding: 10px;
}
.company-info{
	color: #b7b7b7;
	display: inline-block;
	a{
			color: #b7b7b7;
			text-decoration: underline;
		&:hover{
			color: #fff;
		}
	}
	ul{
		list-style: none;
	}
	li{
		display: inline-block;
		margin-right: 35px;
	}
	&_mobile{
		font-size: 14px;
		li{
			text-align: left;
			float: none;
			display: block;
		}
		a{
			color: #616161;
			float: none;
		}

	}
}
.enter{
	display: none;
	float: right;
	color: #fff;
	@include breakpoint(laptop){
		display: inline-block;
	}
	a{
		color: #f0f0f0;
		margin: 0 10px;
		text-decoration: none;
	}
	&_mobile{
		margin-bottom: 30px;
		color: #39393a;
		float: none;
		display: block;
		font-size: 13px;
		font-family: 'Roboto';
		a{
			margin: 0 10px;
			color: #39393a;
			&:hover{
				color: #536a30;
			}
		}
	}

}
.header-middle{
	display: none;
	background: #f0f0f0;
	padding: 8px 0;
	color: #7f7f7f;
	font-size: 12px;
	font-family: 'Circe';
	@include breakpoint(laptop){
		display: block;
	}
	a{
		font-family: 'Circe';
		color: #7f7f7f;
	}
	.delivery{
		margin-right: 20px;
		display: inline-block;
		img{
			position: relative;
			top: -5px;
			margin-right: 3px;
		}
	}
	.points{
		display: inline-block;
	}
	.delivery-time{
		display: inline-block;
		a{
			display: inline;
			background-image: url(../images/dots.png);
			background-repeat: repeat-x;
			background-position: bottom;
			&:hover{
				color: #39393a;
			}
		}
	}
	.callback{
		display: inline-block;
		a{
			display: block;
			font-family: 'Roboto';
			text-decoration: underline;
			text-decoration-style:dotted; 
			color: #778d53;
		}
	}
}
.location{
		display: inline-block;
		margin-right: 60px;
	}
.city{
	font-size: 14px;
	position: relative;
	top: -10px;
	font-family: 'Circe';
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
	img{
		margin-right: 3px;
	}
	a{
		display: inline;
		background-image: url(../images/dots.png);
		background-repeat: repeat-x;
		background-position: bottom;
		&:hover{
			color: #39393a;
		}
	}
	&_top-line{
		top: 0;
		a{
			color: #b2b2b2;
		}
		@include breakpoint(laptop){
			display: none;
		}
	}
}
.telephone{
	margin-right: 40px;
	text-align: right;
	display: inline-block;
	a{
		display: block;
		font-family: 'Roboto';
		font-size: 19px;
		color: #010101;
	}
	&_top-line{
		display: inline-block;
		position: absolute;
		right: 0px;
		vertical-align: top;
		font-size: 16px;
		margin-right: 0px;
		color: #fff;
		@include breakpoint(laptop){
			display: none;
		}
		a{
			color: #fff;
		}
	}
}
.header-bottom{
	display:flex;
	background: #f0f0f0;
	justify-content: space-around;
	align-items: center;
	@include breakpoint(tablet){
		padding: 10px;
		background: #fff;
		justify-content: space-between;
		align-items: center;
	}
	.logo{
		// width: 25%;
		// flex-grow: 1;
		vertical-align: middle;
		@include breakpoint(tablet){
			margin-right: 40px;
		}
		.text{
			display: none;
			max-width: 93px;
			vertical-align: middle;
		@include breakpoint(tablet){
				display: inline-block;
			}
		}
		img{
			height: 49px;
			margin-right: 15px;
			vertical-align: middle;
			@include breakpoint(tablet){
				height: auto;
			}
		}
		span:first-child{
			color: #3b3b3b;
			font-family: 'Roboto';
			font-style: italic;
			font-size: 18px;
		}
		span{
			font-size: 14px;
			font-family: 'Roboto';
			font-style: italic;
			color: #757575;
		}
	}
	.search{
		display:none;
		&:hover{
			i{
				color: #536a30;
			}
		}
		@include breakpoint(tablet){
			flex-grow:2;
			// width: 60%;
			margin-right: 20px;
			display: inline-block;
			vertical-align:middle;
		}
		form{
			position: relative;
			input{
				-webkit-appearance: textfield;
				outline: none;
				padding: 10px;
				padding-right: 50px;
				border: 1px solid #c2c4ca;
				width: 100%;
			}
			button{
				outline: none;
				height: 100%;
				padding: 0 12px;
				position: absolute;
				right: 0;
				top: 0;
				border: none;
				background: transparent;
			}
			i{
				color: #c2c4ca;
				&:hover{
					color: #536a30;
				}
			}
		}
}
	.cart-item-count,.favorites-item-count{
		position: absolute;
		top: -6px;
		right: -16px;
		width: 20px;
		height: 16px;
		display: inline-block;
		font-size: 14px;
		border-radius: 40%;
		text-align: center;
		background: #e5191c;
		color: white;
		line-height: 16px;
	}
	.favorites-item-count{
		background: #000;
		right: -19px;
	}
	.shoppingcart,.favorites-icon{
		// flex-grow: 1;
		display: inline-block;
		position: relative;
	}
	.favorites{
		&:hover{
			.icon_favorites{
				background:url(../images/favorites_hover.png);
			}
			// span{
			// 	color: #536a30;
			// }
		}
		font-family: 'Roboto';
		margin-right: 20px;
		.favorites-icon{
			span{
				display: inline-block;
				color: #fff;
			}
		}
		span{
			color:#010101;
			display: none;
			margin-left: 19px;
			@include breakpoint(phablet){
				display: inline-block;
			}
		}
	}
	.shopping-sum{
		&:hover{
			.icon_cart{
				background:url(../images/cart_hover.png);
			}
		}
		a{
			color:#010101;
		}
		position: relative;
		margin-left: 5px;
		font-size: 18px;
		span{
			display: none;
			color: #010101;
			margin-left: 15px;
			font-family: 'Roboto';
			position: relative;
			font-weight: bold;
			@include breakpoint(phablet){
				display: inline-block;
			}
		}
		span:nth-child(2){
			margin-left: 0px;
			font-family: 'rouble';
		}
	}
}
.bars{
	display: inline-block;
	position: relative;
	left: 7px;
	width: 30px;
	@include breakpoint(tablet){
		display: none;
	}
}
.search-mobile{
	display: inline-block;
	padding: 0 20px;
	height: 58px;
	img{
		position: relative;
		top: 20px;
	}
	@include breakpoint(tablet){
		display: none;
	}
	&.active{
		background: #fff;
	}
}

.bar{
	height:2px;
	background:#39393a;
	margin:8px 0;
}

.active .bar:nth-child(2){
	opacity:0;

}

.active .bar:nth-child(1){
	transform: rotate(45deg) translateY(9px) translateX(5px);
	transition: all 1s ease;
	background: #5e5e5e;
}

.active .bar:nth-child(3){
	transform: rotate(-45deg) translateY(-8px) translateX(5px);
	transition: all 1s ease;
	background: #5e5e5e;
}

.bar:nth-child(2){
	opacity:1;
	transition: all 1s ease;
}

.bar{
	transition: all 1s ease;
}
.main-menu{
	font-family: 'Roboto';
	font-size: 16px;
	padding: 0 10px; 
	background: #f0f0f0;
	margin-bottom: 30px;
	display: none;
	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
	}
	@include breakpoint(tablet){
		display: block;
	}
	ul{
		display: block;
		list-style: none;
	}
	li{
		position: relative;
		padding: 15px 29px;
		display: inline-block;
		img{
			margin-left: 10px;
		}
		&.active{
			background: #fff;
		}
		ul{
			display: none;
			padding: 25px;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 10;
			width: 220px;
			background: #fff;
			.title{
				display: block;
				font-size: 16px;
				font-family: 'roboto';
				font-weight: 500;
				color: #616161;
				margin-bottom: 25px;
			}
			li{
				padding: 3px 0;
				color: #778d53;
				font-size: 14px;
				&:last-child{
					float: none;
				}
			}
		}
	}
	li:last-child{
		float: right;
		margin-right: 0;
	}
	a{
		color: #616161;
	}
}
.product{
	padding: 15px 10px;
	margin-left: -1px;
	margin-top: -1px;
	border: 1px solid #dfdfdf;
	text-align: center;
	height: 280px;
	@include breakpoint(phablet){
		height: 260px;
	}
	@include breakpoint(tablet){
		border: none;
		margin: 0;
		height: auto;
	}
	&_sale{
		text-align: left;
		border: none;
		position: relative;
		padding: 0;
		height: auto;
		@include breakpoint(tablet){
			text-align: center;
		}
	}
	&__img{
		margin-bottom: 20px;
		height: 236px;
		height: 110px;
		justify-content: center;
		display: flex;
		align-items: center;
		@include breakpoint(tablet){
			margin-bottom: 40px;
		}
		img{
			height: 114px;
			@include breakpoint(phablet){
				height: 110px;
			}
		}
		&_sale{
			float: left;
			display: inline-block;
			height: auto;
			margin-right: 17px;
			margin-bottom: 10px;
			position: relative;
			line-height: initial;
			@include breakpoint(tablet){
				float: none;
			}
			@include breakpoint(desktop){
				margin-bottom: 30px;
			}
			img{
				@include breakpoint(tablet){
					height: 142px;
				}
				@include breakpoint(laptop){
					height: 210px;
				}
				@include breakpoint(desktop){
					height: 210px;
				}

			}
		}
	}
	&__name{
		margin: 0 auto;
		// height: 65px;
		display: inline-block;
		line-height: 1.2;
		margin-bottom: 15px;
		font-size:14px;
		max-width: 255px;
		font-family: 'Circe';
		color: #778d53;
		&:hover{
			color: #536a30;
		}
		@include breakpoint(tablet){
			font-size:18px;
			margin-bottom: 20px;
		}
		&_sale{
			display: block;
			max-width: none;
			margin-bottom: 10px;
			height: auto;
			@include breakpoint(tablet){
				display: inline-block;
				margin-bottom: 30px;
			}	
		}
	}
	&__code{
		font-family: 'roboto';
		font-style: italic;
		font-size: 11px;
		margin-bottom: 15px;
		color: #9d9e9f;
		@include breakpoint(tablet){
			font-size:13px;
			margin-bottom: 20px;
		}
	}
	&__price{
		display: inline-block;
		position: relative;
		font-size: 19px;
		margin-left: -35px;
		span:first-child{
			font-family: 'roboto';
			font-weight: bold;		
		}
		&_sale{
			margin: 0;
			font-size: 24px;
			left: 40px;
			@include breakpoint(tablet){
				left: 0px;
			}
		}
	}
	&__old-price{
		position: absolute;
		right: 120%;
		font-size: 19px;
		top: 0;
		top: 4px;
		color: #da1c19;
		text-decoration: line-through;
	}
	&__volume{
		position: absolute;
		left: 130%;
		border-radius: 30px;
		padding: 5px 10px;
		font-size: 13px;
		font-family: 'roboto';
		font-weight: 300;
		top: 0;
		background: #f2f2f3;
		color: #707070;
	}
}
.border-righ-none{
	border-right: none;
}
.section-title{
	overflow: hidden;
	margin: 25px auto 20px;
	text-align: center;
	font-family: 'Roboto';
	font-size: 29px;
	@include breakpoint(tablet){
	margin: 40px auto;
	}
	span{
		position: relative;
	}
	span:before, span:after{
		display: none;
		content: '';
		position:absolute;
		width: 3000px;
		height: 1px;
		background: #b8b8b8;
		top: 50%;
		transform: translateY(-50%);
		right: 104%;
		@include breakpoint(tablet){
			display: block;
			right: 120%;
		}
	}
	span:after{
			right: auto;
			left: 104%;
		@include breakpoint(tablet){
			left: 120%;
		}
	}
}
.block-title{
	margin-bottom: 25px;
	text-align: center;
	@include breakpoint(tablet){
		text-align: left;
		margin-bottom: 35px;
	}
	span{
		font-family: 'Roboto';
		font-size: 29px;
		position: relative;
		display: block;
		display:inline-block;
		@include breakpoint(tablet){
			display:inline-block;
		}
	}
	a{
		margin-left: 8px;
		color: #778d53;
		font-size: 18px;
		display: block;
		text-align: center;
		@inlude breakpoint(tablet){
			display: inline-block;
		}
		
		span{
			font-family: 'circe';
			font-size: 18px;
		}
		svg{
			height: 10px;
			margin-left: 10px;
			.cls-1{
				fill: #778d53;
			}
		}
		&:hover{
			color: #4d622a;
			svg{
				.cls-1{
					fill: #4d622a;
				}
			}
		}
	}
	
}
.sale{
	position: relative;
	padding: 30px 10px;
	text-align: center;
	margin-bottom: 15px;
	
	@include breakpoint(tablet){
		padding: 10px 10px;
		margin-bottom: 55px;
	}
	@include breakpoint(laptop){
		padding: 10px 10px;
	}
	@media(min-width: 900px){
		padding: 30px 10px;
	}
	&__title{
		text-transform: uppercase;
		margin: 10px 0;
		@include breakpoint(tablet){
			margin-bottom: 10px;
		}
		@include breakpoint(laptop){
			margin-bottom: 30px;
		}
	}
	&__value{
		display: block;
		font-size: 24px;
		color: #da1c19;
		font-family: 'roboto';
		font-weight: bold;
		margin-bottom: 5px;
		@include breakpoint(tablet){
			font-size: 42px;
			margin: 0;
			display: inline-block;
			position: absolute;
		    top: 0px;
   			left: 5%;
		}
		@include breakpoint(laptop){
			left: 10%;
		}
	}
	border: 3px solid #778d53;
	.marker{
		position: absolute;
		top: 58px;
		left: 15px;
		z-index: 3;
		background: #da1c19;
		color: #fff;
		font-family: 'Circe';
		font-size: 14px;
		padding: 1px 5px;
		@include breakpoint(tablet){
			top: 10px;
			left: 10px;
		}

	}
}
.rouble{
	font-family: 'rouble';
}
.form{
	padding: 60px 30px 20px 30px;
	background-color: #f6f6f6;
	@include breakpoint(mobileonly){
		padding: 60px 20px 20px 20px;
	}
	
	&__tabs{
		#tab1, #tab2 {
			display: none;
		}
		
		label {
			display: block;
			font-weight: 600;
			text-align: center;
			color: #778d53;
			background-color: white;
			width: 50%;
			float: left;
			text-align: left;
			@include breakpoint(phablet){
				padding: 20px 10px 20px 0;
			}
			&.agred{
				color: #9d9e9f;
				font-size: 11px;
				background-color: transparent;
			}
			&.question{
				padding: 20px 0;
				text-align: center;
			}
			&.callbacktab{
				padding: 20px 0;
				text-align: center;
				
			}
			&:hover {
				cursor: pointer;
			}
		}
		input:checked + label {
			color: black;
			background-color: #f6f6f6;
		}

	}
	&__text{
		font-size: 11px;
		text-align: center;
		color: #9d9e9f;
		max-width: 205px;
		margin: 0 auto;
	}
	label{
		&.agred{
			color: #9d9e9f;
			font-size: 11px;
			background-color: transparent;
			margin-top: -16px;
			display: block;
			padding-left: 30px;
			margin-bottom: 13px;

		}
		
	}
	input{
			height: 40px;
			width: 100%;
			border: 1px solid #c5c5c6;
			padding: 0 15px;
			margin-bottom: 14px;
			&[type="submit"]{
				height: 40px;
				font-size: 19px;
				font-family:'Circe';
				background-color: #778d53;
				color: white;
				&:hover{
					background-color: #4d622a;
				}
			}
			&[type="checkbox"]{
				height: 15px;
				width: 15px;
				margin: 0 10px 0 0;
				
				
			}
		}
	textarea{
		resize: none;
		height: 75px;
		width: 100%;
		border: 1px solid #c5c5c6;
		outline: none;
		margin-bottom: 15px;
	}
	section {
		display: none;
		padding: 20px  0 0 0 ;
		background-color: #f6f6f6;
		&.active{display: block;}
	}
}
.inputwrap{
	position: relative;
	
	img{
		position: absolute;
		top: 18px;
		left: 20px;
	}
	svg{
		position: absolute;
		top: 20px;
		right: 15px;
		height: 15px;
		.cls-1{
			fill: #fff;
		}
	}
}
.subscribe-line{
	font-family: 'Circe';
	padding: 30px 20px 20px 20px;
	background-color: #353535;
	color: white;
	&__main-text{
		font-size: 14px;
		margin-bottom: 25px;
		
	}
	&__sub-text{
		font-size: 14px;
		color: #888888;
		margin-bottom: 25px;
		
	}
	&__container-flex{
		@include breakpoint(phablet){
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	label{
		position: relative;
	}
	.inputwrap{
		flex-grow: 2;
		@include breakpoint(phablet){
			margin-right: 15px;
		}
		@include breakpoint(tablet){
			margin-right: 0;
		}
		@include breakpoint(laptop){
			margin-right: 15px;
		}
	}
	input{
		font-size: 16px;
		margin-bottom: 25px;
		border: none;
		@include breakpoint(mobileonly){
			width: 100%;
			text-align: center;
		}
		&.email{
			padding: 18px 55px;
			width: 100%;
			
		}
		&[type="submit"]{
			width: 100%;
			font-family: 'Circe';
			font-size: 19px;
			padding: 13px 30px;
			background-color: #778d53;
			height: 54px;
			color: white;
			flex-grow: 1;
			padding-right: 55px;
			&:hover{
					background-color: #4d622a;
				}
		}
		&[type="checkbox"]{
			width: 15px;
			height: 15px;
			margin-right: 15px;
			margin-bottom: 0;
			float: left;
		}
	}
}

.footer{
	font-family: "Roboto";
	padding: 45px 0px 0 0px;
	@include breakpoint(mobileonly){
		padding: 25px 20px 0 20px;
	}
	&__hr{
		@include breakpoint(mobileonly){
			margin:7px 0 25px 0;
		}
	}
	&__flex-row{
		display: flex;
		justify-content: space-between;
		@include breakpoint(mobileonly){
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	ul.active{
		display: block;
	}
	ul{
		@include breakpoint(mobileonly){
			display: none;
		}
		
	}
	&__column{
		
		@include breakpoint(mobileonly){
			width: 100%;
		}
		@include breakpoint(phablet){
			max-width: 190px;
		}
		&_about-us{
			@include breakpoint(mobileonly){
				margin-right: 10px;
			}
		}
		&:last-child{
			text-align: right;
		}
	}
	&__list{
		a{
			color: #9d9e9f;
			line-height: 1.4;
			&:hover{
				color: #39393a;
			}
		}
		
		
		font-size: 14px;
		margin-bottom: 15px;
		@include breakpoint(mobileonly){
			margin-bottom: 0;
			&:last-child{
				margin-bottom: 20px;
			}
		}
		&.active{
			a{
				color: #494949;
				font-weight: 500;
			}
		}
	}
	&__title{
		color: #010101;
		font-size: 16px;
		margin-bottom: 18px;
		font-weight: 500;
		
		
	}
	&__phone-number{
		color: #000000;
		font-size: 21px;
		margin-bottom: 10px;
	}
	&__email{
		font-size: 14px;
		color: #9d9e9f;
		margin-bottom: 20px;
		margin-top: 13px;
		display: block;
	}
	&__text{
		font-size: 13px;
		color: #9d9e9f;
		margin-bottom: 25px;
		&_schedule{
			
			@include breakpoint(mobileonly){
				margin-bottom: 15px;
			}
		}
		span{
			display: block;
			margin-bottom: 6px;
		}
	}
	i{
		color: #6e665e;
		position: absolute;
		right: 20px;
		display: none;
		@include breakpoint(mobileonly){
			display: inline-block;
		}
	}
	&_bottom-line{
		color: #9d9e9f;
		padding: 20px 20px 15px 20px;
		@include breakpoint(mobileonly){
			padding-bottom: 35px;
			padding-top: 15px;
		}
		&__title{
			font-size: 14px;
			color: #9d9e9f;
			margin-bottom: 10px;
			&:first-child{
				margin-right: 10px;
			}
		}
		&__text{
			font-size: 11px;
			display: inline-block;
			@include breakpoint(mobileonly){
				text-align: center;
			}
			
			
		}
	}
	&__social-icon{
		display: inline-block;
		margin-right: 17px;
		margin-bottom: 25px;
		@include breakpoint(mobileonly){
			margin-bottom: 0;
		}
	}
	
}
#productslider, #productslider2 {
	height: auto !important;
}
.article{
	position: relative;
	margin-bottom: 20px;

	&__pic{
		// position: absolute;
		float: left;
		top: 0;
		left: 0;
		width: 107px;
		margin-right: 15px;
		display: inline-block;
	}
	&__pub-date{
		color: #b7b7b7;
		font-style: italic;
		font-size: 12px;
		font-family:'roboto';
		margin-bottom: 10px;
	}
	&__title{
		color: #778d53;
		font-size:18px;
		margin-bottom: 10px;
		&:hover{
			text-decoration: underline;
			color: #4d622a;
		}
	}
	&__description{
		line-height: 1.5;
		color:#9d9e9f;
		font-size: 13px;
	}
}
.hits{
	padding-bottom: 20px;
	@include breakpoint(tablet){
		margin-bottom: 70px;
		border-bottom: 1px solid #dfdfdf;
	}

}
.sorter{
	display: block;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'roboto';
	font-size: 18px;
	padding: 0 10px;
	@include breakpoint(tablet){
		margin-bottom: 60px;
		display: inline-block;
		text-align: left;
	}
	span{
		color: #898989;
		margin-right: 20px;
		font-size: 18px;
		@include breakpoint(tablet){
			font-size:29px;
		}
		&:hover{
			color: #536a30;
		}
	}
	a{
		&.active{
			span{
				color: #778d53;
				display: inline;
				background-image: url(../images/dots.png);
				background-repeat: repeat-x;
				background-position: bottom;
				@include breakpoint(tablet){
					font-size:29px;
				}
			}	
		}
	}
	// 	text-decoration: underline;
	// 	text-decoration-style: dashed;
	// 	text-decoration-color: #898989;
}
.btn{
	display: inline-block;
	&_products{
		float: right;
		position: relative;
		background: #f6f6f6;
		border-radius: 30px;
		font-family: 'Circe';
		font-size: 16px;
		color: #778d53;
		padding: 3px 45px 3px 20px;
		svg{
			height: 10px;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		&:hover{
			background: #778d53;
			color: #fff;
			svg{
				.cls-1{
					fill:#fff;
				}
			}
		}
	}
	&_callback{
		text-transform: uppercase;
		font-size: 11px;
		background: #778d53;
		margin-right:45px;
		padding:12px 16px;
	}
	&_details{
		display: inline-block;
		position: relative;
		background: #f6f6f6;
		color: #9d9e9f;
		padding: 7px 45px 6px 20px;
		margin-bottom: 40px;
		border-radius: 30px;
		font-family: 'Circe';
		font-size: 13px;
		img{
			position: absolute;
			right: 3px;
			top: 3px;
		}
		&:hover{
			background: #778d53;
			color: #fff;
		}
	}
}
.about-company{
	text-align: center;
}

//
.fixed-overlay {
	position: fixed;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(70,70,70,0.7);
	z-index: 100;
	display: none;
	&.callback.active{display: block;}
	&.sing-in.active{display: block;}
	&.region-city.active{
		
		display: block;
	}
	
	&__modal{
		text-align: center;
		white-space: nowrap;
		&::after {
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
			content: '';
		}
		
	}
}

.modal{
	display: inline-block;
	vertical-align: middle;
	opacity: 1;
	overflow: hidden;
	&__title{
		font-family: 'gothamproblack', sans-serif;
		font-size: 24px;
		text-align: center;
		margin-bottom: 50px;
	}
	&_container {
		
		padding: 30px 90px 40px 90px;
		text-align: center;
		white-space: normal;
		background-color: white;
		max-width: 410px;
		position: relative;
		@include breakpoint(mobileonly){
			padding: 30px 50px 40px 50px;
		}
		&_region-city{
			max-width: 960px;
			padding: 80px 20px 60px 10px;
			overflow: hidden;
			text-align: left;
			position: relative;
			background-color: #f5f5f7;
			@include breakpoint(tablet){
				width: 775px;
				height: 560px;
			}
			@include breakpoint(laptop){
				width: 960px;
			}
			
			&:before{
				content: "";
				position: absolute;
				width: 10px;
				background-color: white;
				top: 0;
				bottom: 0;
				left: 0px;
				
			}
			
		}
	}
	input{
		display: inline-block;
		width: 100%;
		font-size: 14px;
		height: 34px;
		outline: none;
		border: 1px solid #c8c8c8;
		border-radius: 3px;
		padding: 0 15px;
		color: #a0a0a0;
		
		&[type="submit"]{
			color: white;
			border: 1px solid #778d53;
			text-transform: none;
			background: #778d53;
			margin-top: 25px;
			&:hover{
				background: #4d622a;
			}
		}
		
			
	}
	.wrap-input {
		position: relative;
		display: block;
		margin-top: 45px;
		@include breakpoint(phablet){
			width: 222px;
		}
		
		span{
			position: absolute;
			left: 0;
			top: -25px;
			color: #292929;
			font-size: 14px;
		}
	}
	a.forgot-password{
		color: #778d53;
		font-size: 14px;
		display: block;
		text-align: left;
		margin-top: 20px;
		text-decoration: underline;
		&:hover{
			color: #b04b11;
		}
	}
	span.icon.icon_remove-item{
		position: absolute;
		right: 11px;
		top: 11px;
	}
	span.icon.icon_remove-item.icon_remove-item_region-city{
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
.region-city{
		::-webkit-scrollbar-track{
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar{
		width: 6px;
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar-thumb{
		background-color: #92a475;
	}

	&__side-bar{
		width: 30%;
		float: left;
		height: 150%;
		overflow: hidden;
		background-color: white;
		position: relative;
		top: -90px;
		padding-top: 30px;
		.region-city__sub-title{
			padding-left: 30px;
		}
		ul{
			overflow-y: auto;
			max-height: 380px;
			direction: rtl;
			padding-left: 20px;
			.active {
				color: black;
				background-color: #F5F5F5;
			}
		}
		
		
	}
	
	&__content-bar{
		float: left;
		width:70%;
		padding-left: 40px;
		::-webkit-scrollbar-track{
			background-color: white;
		}
	}
	&__content-box{
		column-count: 3;
		column-width: 190px;
		
	}
	&__wrap-content-box{
		overflow-y: auto;
		max-height: 380px;
		
	}
	&__title{
		font-size: 29px;
		margin-bottom: 30px;
		padding-left: 30px;
	}
	&__sub-title{
		font-size: 18px;
		margin-bottom: 20px;
		
	}
	&__list{
		color: #778d53;
		line-height: 1.85;
	}
	ul{
		margin-bottom: 35px;
		padding-left: 30px;
		position: relative;
		span{
			position: absolute;
			top: 3px;
			left: 0;
			text-transform: uppercase;
			font-size: 18px;
		}
	}
	
}
.icon{
	display: inline-block;
	&_remove-item{
		background:url(../images/remove_item.png);
		height: 12px;
		width: 13px;
		&:hover{
			background:url(../images/remove_item_hover.png);
		}
	}
	&_favorites{
		background:url(../images/favorites.png);
		height: 20px;
		width: 25px;
		&:hover{
			background:url(../images/favorites_hover.png);
		}
	}
	&_cart{
		background:url(../images/cart.png);
		height: 28px;
		width: 38px;
		&:hover{
			background:url(../images/cart_hover.png);
		}
	}
}
.scroll{
	&_padding-top{
		padding-top: 79px;
	}
}
.search-form{
	display:none;
	z-index: 10;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 10px;
	background: #fff;
	form{
		input{
			-webkit-appearance: textfield;
			outline: none;
			font-size: 18px;
			width: 100%;
			padding: 15px;
			padding-right: 90px;
		}
		button{
			font-family: 'roboto';
			outline: none;
			position: absolute;
			top: 11px;
			right: 11px;
			background: #778d53;
			padding: 15px;
			color: #fff;
			font-size: 18px;
			&:hover{
				background: #4d622a;
			}
		}
	}
}
.main-menu-mobile{
	padding: 30px 35px 10px 25px;
	width: 295px;
	box-shadow: 0px 1px 3px 1px rgba(182,183,184,1);
	height: 100%;
    background: #fff;
	transition: all 0.4s ease;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 11;
	overflow-y: scroll;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    &_active{
		transition: all 0.4s ease;
		left: 0;
		visibility: visible;
		bottom: 0;
		top: 0;
		position: fixed;
	}
	.close-btn{
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.catalog{
		li{
			padding: 7px 0;
			display: block;
			font-size : 16px;
			text-align: left;
			width: 100%;
			border: none;
			color: #616161;
			span{
				font-family: 'Roboto';
				font-weight: 500;
			}
			&:hover{
				color: #536a30;
			}
			:last-child{
				float: right;
			}
			i{
				position: relative;
				top: 3px;
			}
		}
	}
}
.wholesalers{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 16px;
	margin: 10px 0;
	padding: 15px 0;
	border-top: 1px solid #d9d9de;
	border-bottom: 1px solid #d9d9de;
	a{
		color: #616161;
		&:hover{
				color: #536a30;
		}
		img{
			margin-left: 10px;
		}
	}

}
.company-info{
	&_mobile{
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 16px;
		li{
			padding: 7px 0;
			text-align: left;
			display: block;
		}
		a{
			color: #616161;
			float: none;
			text-decoration: none;
			&:hover{
				color: #536a30;
			}
		}
	}
}
