@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
body{
	font-family:'roboto';
}

img{
	max-width: 100%;
}

input{
	outline: none;
}

a{
	text-decoration: none;
}
.center{
	text-align: center;
}
hr{
	border-color: #d3d3d5;
	border-bottom: 1px;
	
}
ul{
	list-style: none;
}
p{
	font-size: 14px;
	line-height: 1.5;
	color: #9d9e9f;
}
.header-top{
	font-size: 13px;
	font-family: 'Roboto';
	background: #2a2a2a;
	color: #fff;
	padding: 10px 0;
}
.company-info{
	color: #b7b7b7;
	display: inline-block;
	a{
			color: #b7b7b7;
			text-decoration: underline;
		}
	ul{
		list-style: none;
	}
	li{
		display: inline-block;
		margin-right: 35px;
	}
	&_mobile{
		font-size: 14px;
		display: block;
		li{
			display: block;
			margin-right: 35px;
		}
		a{
			color: #000;
		}

	}
}
.enter{
	display: none;
	float: right;
	color: #fff;
	@include breakpoint(laptop){
		display: inline-block;
	}
	a{
			color: #f0f0f0;
			margin: 0 10px;
			text-decoration: none;
		}
}
.header-middle{
	background: #f0f0f0;
	padding: 8px 0;
	color: #7f7f7f;
	font-size: 12px;
	font-family: 'Circe';
	a{
		font-family: 'Circe';
		color: #7f7f7f;
	}
	.location{
		display: inline-block;
		margin-right: 60px;
	}
	.city{
		font-size: 14px;
		position: relative;
		top: -10px;
		font-family: 'Circe';
		margin-right: 20px;
		display: inline-block;
		vertical-align: middle;
		img{
			margin-right: 3px;
		}
		a{
			text-decoration: underline;
			text-decoration-style: dashed;
		}
		
	}
	.delivery{
		margin-right: 20px;
		display: inline-block;
		img{
			position: relative;
			top: -5px;
			margin-right: 3px;
		}
	}
	.points{
		display: inline-block;
	}
	.delivery-time{
		display: inline-block;
	}
	.telephone{
		margin-right: 40px;
		text-align: right;
		display: inline-block;
		a{
			display: block;
			font-family: 'Roboto';
			font-size: 19px;
			color: #010101;
		}
	}
	.callback{
		display: inline-block;
		a{
			display: block;
			font-family: 'Roboto';
			text-decoration: underline;
			text-decoration-style: dotted; 
			color: #778d53;
		}
	}
}
.header-bottom{
	padding: 10px 0;
	display:flex;
	align-content: center;
	align-items: center;
	.logo{
		// width: 25%;
		// flex-grow: 1;
		vertical-align: middle;
		margin-right: 40px;
		.text{
			display: inline-block;
			max-width: 93px;
			vertical-align: middle;
		}
		img{
			margin-right: 15px;
			vertical-align: middle;
		}
		span:first-child{
			color: #3b3b3b;
			font-family: 'Roboto';
			font-style: italic;
			font-size: 18px;
		}
		span{
			font-size: 14px;
			font-family: 'Roboto';
			font-style: italic;
			color: #757575;
		}
	}
	.search{
		display:none;
		@include breakpoint(tablet){
			flex-grow:2;
			// width: 60%;
			margin-right: 20px;
			display: inline-block;
			vertical-align:middle;
		}
		form{
			position: relative;
			input{
				-webkit-appearance: textfield;
				outline: none;
				padding: 10px;
				padding-right: 50px;
				border: 1px solid #c2c4ca;
				outline: none;
				width: 100%;
			}
			button{
				outline: none;
				height: 100%;
				padding: 0 12px;
				position: absolute;
				right: 0;
				top: 0;
				border: none;
				background: transparent;
			}
			i{
				color: #c2c4ca;
			}
		}
	}
	.cart-item-count,.favorites-item-count{
		position: absolute;
		top: -6px;
		right: -16px;
		width: 20px;
		height: 16px;
		display: inline-block;
		font-size: 14px;
		border-radius: 40%;
		text-align: center;
		background: #e5191c;
		color: white;
		line-height: 16px;
	}
	.favorites-item-count{
		background: #000;
		right: -19px;
	}
	.shoppingcart,.favorites-icon{
		// flex-grow: 1;
		display: inline-block;
		position: relative;
	}
	.favorites{
		font-family: 'Roboto';
		margin-right: 20px;
		span{
			margin-left: 19px;
		}
	}
	.shopping-sum{
		a{
			color:#010101;
		}
		position: relative;
		margin-left: 5px;
		font-size: 18px;
		span{
			color: #010101;
			margin-left: 15px;
			font-family: 'Roboto';
			position: relative;
			font-weight: bold;
		}
		span:nth-child(2){
			margin-left: 0px;
			font-family: 'rouble';
		}
	}
}
.main-menu{
	font-family: 'Roboto';
	font-size: 16px;
	padding: 15px 0; 
	background: #f0f0f0;
	margin-bottom: 30px;
	ul{
		display: block;
		list-style: none;
	}
	li{
		margin-right: 75px;
		display: inline-block;
		img{
			margin-left: 10px;
		}
	}
	li:last-child{
		float: right;
		margin-right: 0;
	}
	a{
		color: #616161;
	}
}
.product{
	text-align: center;
	&__img{
		margin-bottom: 40px;
		height: 236px;
		display: inline-block;
		line-height: 236px;
		text-align: center;
		img{
			vertical-align: middle;
		}
		&_sale{
			margin-bottom: 10px;
			position: relative;
			line-height: initial;
		}
	}
	&__name{
		margin: 0 auto;
		height: 65px;
		line-height: 1.2;
		margin-bottom: 20px;
		font-size:18px;
		max-width: 255px;
		font-family: 'Circe';
		color: #778d53;
		&_sale{
			max-width: none;
			height: auto;
			
		}
	}
	&__code{
		font-family: 'roboto';
		font-style: italic;
		font-size: 13px;
		margin-bottom: 20px;
		color: #9d9e9f;
	}
	&__price{
		display: inline-block;
		position: relative;
		font-size: 19px;
		margin-left: -35px;
		span:first-child{
			font-family: 'roboto';
			font-weight: bold;		
		}
		&_sale{
			margin: 0;
		}
	}
	&__old-price{
		position: absolute;
		right: 120%;
		top: 0;
		color: #da1c19;
		text-decoration: line-through;
	}
	&__volume{
		position: absolute;
		left: 130%;
		border-radius: 30px;
		padding: 5px 10px;
		font-size: 13px;
		font-family: 'roboto';
		font-weight: 300;
		top: 0;
		background: #f2f2f3;
		color: #707070;
	}
}
.section-title{
	overflow: hidden;
	margin: 40px auto;
	text-align: center;
	font-family: 'Roboto';
	font-size: 29px;
	span{
		position: relative;
	}
	span:before, span:after{
		content: '';
		position:absolute;
		width: 3000px;
		height: 1px;
		background: #b8b8b8;
		top: 50%;
		transform: translateY(-50%);
		right: 104%;
		@include breakpoint(phablet){
			right: 120%;
		}
	}
	span:after{
			right: auto;
			left: 104%;
		@include breakpoint(phablet){
			left: 120%;
		}
	}
}
.block-title{
	margin-bottom: 35px;
	span{
		font-family: 'Roboto';
		font-size: 29px;
		position: relative;
	}
	a{
		margin-left: 20px;
		color: #778d53;
		font-size: 18px;
		span{
			font-family: 'circe';
			font-size: 18px;
		}
	}
}
.sale{
	position: relative;
	padding: 30px 10px;
	text-align: center;
	&__title{
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&__value{
		display: inline-block;
		font-size: 42px;
		color: #da1c19;
		font-family: 'roboto';
		font-weight: bold;
		position: absolute;
		top: 0;
		left: 0;
	}
	border: 3px solid #778d53;
	.marker{
		position: absolute;
		top: 10px;
		left: 10px;
		background: #da1c19;
		color: #fff;
		font-family: 'Circe';
		font-size: 14px;
		padding: 1px 5px;

	}
}
.rouble{
	font-family: 'rouble';
}
.form{
	padding: 60px 30px 20px 30px;
	background-color: #f6f6f6;
	@include breakpoint(mobileonly){
		padding: 60px 10px 20px 10px;
	}
	
	&__tabs{
		#tab1, #tab2 {
			display: none;
		}
		
		label {
			display: block;
			padding: 20px 10px 20px 0;
			font-weight: 600;
			text-align: center;
			color: #778d53;
			background-color: white;
			width: 50%;
			float: left;
			&.agred{
				color: #9d9e9f;
				font-size: 11px;
				background-color: transparent;
			}
			:hover {
				cursor: pointer;
			}
		}
		input:checked + label {
			color: black;
			background-color: #f6f6f6;
		}

	}
	label{
		&.agred{
			color: #9d9e9f;
			font-size: 11px;
			background-color: transparent;
		}
	}
	input{
			height: 45px;
			width: 100%;
			border: 1px solid #c5c5c6;
			padding: 0 15px;
			margin-bottom: 15px;
			&[type="submit"]{
				height: 40px;
				background-color: #778d53;
				color: white;
			}
			&[type="checkbox"]{
				height: 15px;
				width: 15px;
				
			}
		}
	textarea{
		resize: none;
		height: 80px;
		width: 100%;
		border: 1px solid #c5c5c6;
		outline: none;
		margin-bottom: 15px;
	}
	section {
		display: none;
		padding: 20px 0 ;
		background-color: #f6f6f6;
		&.active{display: block;}
	}
}
.subscribe-line{
	font-family: 'Circe';
	padding: 30px 0 40px 0;
	background-color: #353535;
	color: white;
	&__main-text{
		font-size: 14px;
		margin-bottom: 25px;
		
	}
	&__sub-text{
		font-size: 14px;
		color: #888888;
		margin-bottom: 25px;
		
	}
	&__container-flex{
		@include breakpoint(phablet){
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	label{
		position: relative;
	}
	input{
		font-size: 16px;
		margin-bottom: 25px;
		border: none;
		@include breakpoint(mobileonly){
			width: 100%;
			text-align: center;
		}
		&.email{
			padding: 18px 55px;
			flex-grow: 2;
			@include breakpoint(phablet){
				margin-right: 15px;
			}
			@include breakpoint(tablet){
				margin-right: 0;
			}
			@include breakpoint(laptop){
				margin-right: 15px;
			}
		}
		&[type="submit"]{
			padding: 18px 30px;
			background-color: #778d53;
			color: white;
			flex-grow: 1;
		}
		&[type="checkbox"]{
			width: 15px;
			height: 15px;
			margin-right: 15px;
			margin-bottom: 0;
			float: left;
		}
	}
}
.footer{
	font-family: "Roboto";
	padding-top: 45px;
	&__flex-row{
		display: flex;
		justify-content: space-between;
		
	}
	&__column{
		max-width: 190px;
		&_about-us{
			@include breakpoint(mobileonly){
				margin-right: 10px;
			}
		}
		&:last-child{
			text-align: right;
		}
	}
	&__list{
		a{
			color: #9d9e9f;
			line-height: 1.7;
		}
		
		font-size: 14px;
		margin-bottom: 15px;
		&.active{
			a{
				color: #494949;
				font-weight: 500;
			}
		}
	}
	&__title{
		color: #010101;
		font-size: 16px;
		margin-bottom: 18px;
		font-weight: 500;
		
	}
	&__phone-number{
		color: #000000;
		font-size: 21px;
		margin-bottom: 10px;
	}
	&__email{
		font-size: 14px;
		color: #9d9e9f;
		margin-bottom: 20px;
		margin-top: 13px;
		display: block;
	}
	&__text{
		font-size: 13px;
		color: #9d9e9f;
		margin-bottom: 25px;
		span{
			display: block;
			margin-bottom: 6px;
		}
	}
	.social-icon{
		display: inline-block;
		margin-right: 17px;
		margin-bottom: 25px;
	}
	&_bottom-line{
		color: #9d9e9f;
		padding: 20px 0 15px 0;
		&__title{
			font-size: 14px;
			color: #9d9e9f;
			margin-bottom: 10px;
			&:first-child{
				margin-right: 10px;
			}
		}
		&__text{
			font-size: 11px;
			display: inline-block;
			
			
		}
	}
}
#promoslider{
	margin-bottom: 30px;
}
.article{
	position: relative;
	margin-bottom: 20px;

	&__pic{
		// position: absolute;
		float: left;
		top: 0;
		left: 0;
		width: 107px;
		margin-right: 10px;
		display: inline-block;
	}
	&__pub-date{
		color: #b7b7b7;
		font-style: italic;
		font-size: 12px;
		font-family:'roboto';
		margin-bottom: 10px;
	}
	&__title{
		color: #778d53;
		font-size:18px;
		margin-bottom: 10px;
	}
	&__description{
		line-height: 1.5;
		color:#9d9e9f;
		font-size: 13px;
	}
}
.hits{
	margin-bottom: 70px;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 50px;
}