@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
body{
	font-family:'roboto';
}

img{
	max-width: 100%;
}

input{
	outline: none;
}

a{
	text-decoration: none;
}
.center{
	text-align: center;
}
hr{
	border-color: #d3d3d5;
	border-bottom: 1px;
	opacity: 0.5;
}
ul{
	list-style: none;
}
p{
	font-size: 14px;
	line-height: 1.5;
	color: #9d9e9f;
	margin-bottom: 30px;
	padding: 0 10px;
	@include breakpoint(laptop){
		padding: 0;
	}
}

.backdrop {
	position: fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.4);
	opacity: 0;
	z-index: 4;
	transition: opacity 0.3s ease;
}
.on{
	opacity: 1;
	left: 0;
}
.no-scroll {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.header-top{
	font-size: 13px;
	font-family: 'Roboto';
	background: #39393a;
	color: #fff;
	padding: 10px;
}
.company-info{
	color: #b7b7b7;
	display: inline-block;
	a{
			color: #b7b7b7;
			text-decoration: underline;
		&:hover{
			color: #fff;
		}
	}
	ul{
		list-style: none;
	}
	li{
		display: inline-block;
		margin-right: 35px;
	}
	&_mobile{
		font-size: 14px;
		li{
			text-align: left;
			float: none;
			display: block;
		}
		a{
			color: #616161;
			float: none;
		}

	}
}
.enter{
	display: none;
	float: right;
	color: #fff;
	@include breakpoint(laptop){
		display: inline-block;
	}
	a{
		color: #f0f0f0;
		margin: 0 10px;
		text-decoration: none;
	}
	&_mobile{
		margin-bottom: 30px;
		color: #39393a;
		float: none;
		display: block;
		font-size: 13px;
		font-family: 'Roboto';
		a{
			margin: 0 10px;
			color: #39393a;
			&:hover{
				color: #536a30;
			}
		}
	}

}
.header-middle{
	display: none;
	background: #f0f0f0;
	padding: 8px 0;
	color: #7f7f7f;
	font-size: 12px;
	font-family: 'Circe';
	@include breakpoint(laptop){
		display: block;
	}
	a{
		font-family: 'Circe';
		color: #7f7f7f;
	}
	.delivery{
		margin-right: 20px;
		display: inline-block;
		img{
			position: relative;
			top: -5px;
			margin-right: 3px;
		}
	}
	.points{
		display: inline-block;
	}
	.delivery-time{
		display: inline-block;
		a{
			display: inline;
			background-image: url(../images/dots.png);
			background-repeat: repeat-x;
			background-position: bottom;
			&:hover{
				color: #39393a;
			}
		}
	}
	.callback{
		display: inline-block;
		position: relative;
		&__pointer{
			position: absolute;
			display: inline-block;
			height: 20px;
			width: 20px;
			background-color: white;
			transform: rotate(45deg);
			top: -10px;
			left: 46%;
				
			
		}
		&__modal-window{
			display: none;
			position: absolute;
			width: 315px;
			top: 150%;
			left: -120px;
			z-index: 100;
			box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.2);
			&.active{
				display: block;
			}
			.form{
				background-color: white;
				section{
					background-color: white;
				}
				
			}
			
			.form__tabs{
				font-size: 16px;
				input:checked + label{
					border-bottom: 1px solid #778d53;
					background-color: white;
				}
				
			}
			
		}
		a{
			display: block;
			font-family: 'Roboto';
			text-decoration: underline;
			text-decoration-style:dotted;
			color: #778d53;
		}
	}
}
.location{
		display: inline-block;
		margin-right: 60px;
	}
.city{
	font-size: 14px;
	position: relative;
	top: -10px;
	font-family: 'Circe';
	margin-right: 20px;
	display: inline-block;
	vertical-align: middle;
	img{
		margin-right: 3px;
	}
	a{
		display: inline;
		background-image: url(../images/dots.png);
		background-repeat: repeat-x;
		background-position: bottom;
		&:hover{
			color: #39393a;
		}
	}
	&_top-line{
		top: 0;
		a{
			color: #b2b2b2;
		}
		@include breakpoint(laptop){
			display: none;
		}
	}
}
.telephone{
	margin-right: 40px;
	text-align: right;
	display: inline-block;
	a{
		display: block;
		font-family: 'Roboto';
		font-size: 19px;
		color: #010101;
	}
	&_top-line{
		display: inline-block;
		position: absolute;
		right: 0px;
		vertical-align: top;
		font-size: 16px;
		margin-right: 0px;
		color: #fff;
		@include breakpoint(laptop){
			display: none;
		}
		a{
			color: #fff;
		}
	}
}
.header-bottom{
	display:flex;
	background: #f0f0f0;
	justify-content: space-around;
	align-items: center;
	@include breakpoint(tablet){
		padding: 10px;
		background: #fff;
		justify-content: space-between;
		align-items: center;
	}
	.logo{
		// width: 25%;
		// flex-grow: 1;
		vertical-align: middle;
		@include breakpoint(tablet){
			margin-right: 40px;
		}
		.text{
			display: none;
			max-width: 93px;
			vertical-align: middle;
		@include breakpoint(tablet){
				display: inline-block;
			}
		}
		img{
			height: 49px;
			margin-right: 15px;
			vertical-align: middle;
			@include breakpoint(tablet){
				height: auto;
			}
		}
		span:first-child{
			color: #3b3b3b;
			font-family: 'Roboto';
			font-style: italic;
			font-size: 18px;
		}
		span{
			font-size: 14px;
			font-family: 'Roboto';
			font-style: italic;
			color: #757575;
		}
	}
	.search{
		display:none;
		&:hover{
			i{
				color: #536a30;
			}
		}
		@include breakpoint(tablet){
			flex-grow:2;
			// width: 60%;
			margin-right: 20px;
			display: inline-block;
			vertical-align:middle;
		}
		form{
			position: relative;
			input{
				-webkit-appearance: textfield;
				outline: none;
				padding: 10px;
				padding-right: 50px;
				border: 1px solid #c2c4ca;
				width: 100%;
			}
			button{
				outline: none;
				height: 100%;
				padding: 0 12px;
				position: absolute;
				right: 0;
				top: 0;
				border: none;
				background: transparent;
			}
			i{
				color: #c2c4ca;
				&:hover{
					color: #536a30;
				}
			}
		}
}
	.cart-item-count,.favorites-item-count{
		position: absolute;
		top: -6px;
		right: -16px;
		width: 20px;
		height: 16px;
		display: inline-block;
		font-size: 14px;
		border-radius: 40%;
		text-align: center;
		background: #e5191c;
		color: white;
		line-height: 16px;
		@include breakpoint(mobileonly){
			right: -15px;
		}
	}
	.favorites-item-count{
		background: #000;
		right: -19px;
	}
	.shoppingcart,.favorites-icon{
		// flex-grow: 1;
		display: inline-block;
		position: relative;
	}
	.favorites{
		&:hover{
			.icon_favorites{
				background:url(../images/favorites_hover.png);
			}
			// span{
			// 	color: #536a30;
			// }
		}
		font-family: 'Roboto';
		margin-right: 20px;
		.favorites-icon{
			span{
				display: inline-block;
				color: #fff;
			}
		}
		span{
			color:#010101;
			display: none;
			margin-left: 19px;
			@include breakpoint(phablet){
				display: inline-block;
			}
		}
	}
	.shopping-sum{
		&:hover{
			.icon_cart{
				background:url(../images/cart_hover.png);
			}
		}
		a{
			color:#010101;
		}
		position: relative;
		margin-left: 5px;
		font-size: 18px;
		span{
			display: none;
			color: #010101;
			margin-left: 15px;
			font-family: 'Roboto';
			position: relative;
			font-weight: bold;
			@include breakpoint(phablet){
				display: inline-block;
			}
		}
		span:nth-child(2){
			margin-left: 0px;
			font-family: 'rouble';
		}
	}
}
.bars{
	display: inline-block;
	position: relative;
	left: 7px;
	width: 30px;
	@include breakpoint(tablet){
		display: none;
	}
}
.search-mobile{
	display: inline-block;
	padding: 0 20px;
	height: 58px;
	img{
		position: relative;
		top: 20px;
	}
	@include breakpoint(tablet){
		display: none;
	}
	&.active{
		background: #fff;
	}
}

.bar{
	height:2px;
	background:#39393a;
	margin:8px 0;
}

.active .bar:nth-child(2){
	opacity:0;

}

.active .bar:nth-child(1){
	transform: rotate(45deg) translateY(9px) translateX(5px);
	transition: all 1s ease;
	background: #5e5e5e;
}

.active .bar:nth-child(3){
	transform: rotate(-45deg) translateY(-8px) translateX(5px);
	transition: all 1s ease;
	background: #5e5e5e;
}

.bar:nth-child(2){
	opacity:1;
	transition: all 1s ease;
}

.bar{
	transition: all 1s ease;
}
.main-menu{
	font-family: 'Roboto';
	font-size: 16px;
	padding: 0 10px; 
	background: #f0f0f0;
	margin-bottom: 30px;
	display: none;
	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 5;
	}
	@include breakpoint(tablet){
		display: block;
	}
	ul{
		display: block;
		list-style: none;
	}
	li{
		position: relative;
		padding: 15px 18px;
		display: inline-block;
		@include breakpoint(laptop){
			padding: 15px 29px;
		}
		img{
			margin-left: 10px;
		}
		// &.active{
		// 	background: #fff;
		// 	.submenu-block{
		// 		display: block;
		// 	}
		// }
		&:hover{
			background: #fff;
			.submenu-block{
				display: block;
			}
		}
	}
	li:last-child{
		float: right;
		margin-right: 0;
	}
	a{
		color: #616161;
	}
}
.product{
	padding: 15px 10px;
	margin-left: -1px;
	margin-top: -1px;
	border: 1px solid #dfdfdf;
	text-align: center;
	height: 280px;
	@include breakpoint(phablet){
		height: 260px;
	}
	@include breakpoint(tablet){
		border: none;
		margin: 0;
		height: auto;
		margin-bottom: 40px;
	}
	&_slider{
		border: none;
	}
	&_sale{
		text-align: left;
		border: none;
		position: relative;
		padding: 0;
		height: auto;
		@include breakpoint(tablet){
			text-align: center;
		}
	}
	&__img{
		margin-bottom: 20px;
		height: 110px;
		justify-content: center;
		display: flex;
		align-items: center;
		@include breakpoint(tablet){
			margin-bottom: 40px;
			height: 210px;
		}
		img{
			height: 114px;
			@include breakpoint(phablet){
				height: 110px;
			}
			@include breakpoint(tablet){
				height: auto;
			}
		}
		&_sale{
			float: left;
			display: inline-block;
			height: auto;
			margin-right: 17px;
			margin-bottom: 10px;
			position: relative;
			line-height: initial;
			@include breakpoint(tablet){
				float: none;
			}
			@include breakpoint(desktop){
				margin-bottom: 30px;
			}
			img{
				@include breakpoint(tablet){
					height: 142px;
				}
				@include breakpoint(laptop){
					height: 210px;
				}
				@include breakpoint(desktop){
					height: 210px;
				}

			}
		}
	}
	&__name{
		margin: 0 auto;
		// height: 65px;
		display: inline-block;
		line-height: 1.2;
		margin-bottom: 15px;
		font-size:14px;
		max-width: 255px;
		font-family: 'Circe';
		color: #778d53;
		&:hover{
			color: #536a30;
		}
		@include breakpoint(tablet){
			font-size:18px;
			margin-bottom: 20px;
		}
		&_sale{
			display: block;
			max-width: none;
			margin-bottom: 10px;
			height: auto;
			@include breakpoint(tablet){
				display: inline-block;
				margin-bottom: 30px;
			}
		}
		&_cart{
			margin-bottom: 10px;
		}
	}
	&__code{
		font-family: 'roboto';
		font-style: italic;
		font-size: 11px;
		margin-bottom: 15px;
		color: #9d9e9f;
		@include breakpoint(tablet){
			font-size:13px;
			margin-bottom: 20px;
		}
		&_cart{
			margin-bottom: 0;
		}
	}
	&__price{
		display: inline-block;
		position: relative;
		font-size: 19px;
		margin-left: -35px;
		span:first-child{
			font-family: 'roboto';
			font-weight: bold;
		}
		&_sale{
			margin: 0;
			font-size: 24px;
			left: 40px;
			@include breakpoint(tablet){
				left: 0px;
			}
		}
		&_cart{
			margin: 0;
		}
		&_special{
			font-size: 24px;
			text-align: right;
			display: block;
			color: #010101;
			margin: 0;
		}
		&_special-mobile{
			font-size: 24px;
			color: #010101;
			margin: 0;
		}
		&_old{
			color: #7d7e81;
			font-size: 19px;
			margin: 0;
			text-align: right;
			text-decoration: line-through;
		}
	}
	&__old-price{
		position: absolute;
		right: 120%;
		font-size: 19px;
		top: 0;
		top: 4px;
		color: #da1c19;
		text-decoration: line-through;
	}
	&__volume{
		position: absolute;
		left: 130%;
		border-radius: 30px;
		padding: 5px 10px;
		font-size: 13px;
		font-family: 'roboto';
		font-weight: 300;
		top: 0;
		background: #f2f2f3;
		color: #707070;
	}
}
.border-righ-none{
	border-right: none;
}
.section-title{
	overflow: hidden;
	margin: 25px auto 20px;
	text-align: center;
	font-family: 'Roboto';
	font-size: 29px;
	@include breakpoint(tablet){
	margin: 40px auto;
	}
	span{
		position: relative;
	}
	span:before, span:after{
		display: none;
		content: '';
		position:absolute;
		width: 3000px;
		height: 1px;
		background: #b8b8b8;
		top: 50%;
		transform: translateY(-50%);
		right: 104%;
		@include breakpoint(tablet){
			display: block;
			right: 120%;
		}
	}
	span:after{
			right: auto;
			left: 104%;
		@include breakpoint(tablet){
			left: 120%;
		}
	}
}
.block-title{
	margin-bottom: 25px;
	text-align: center;
	padding: 0 10px;
	@include breakpoint(tablet){
		text-align: left;
		margin-bottom: 35px;
	}
	@include breakpoint(desktop){
		padding: 0;
	}
	&_results{
		margin-top: 20px;
		margin-bottom:20px;
		@include breakpoint(tablet){
		margin-top: 0;
		}
	}
	&_delivery{
		margin-top: 20px;
		margin-bottom: 30px;
		@include breakpoint(tablet){
		margin-top: 0;
		}
	}
	&_slider{
		font-size: 24px;
	}
	&_special-offer{
		font-size: 24px;
		margin:20px 0;
		padding: 0 10px;
		@include breakpoint(laptop){
			margin: 0;
		}
	}
	span{
		font-family: 'Roboto';
		font-size: 29px;
		position: relative;
		display: block;
		display:inline-block;
		@include breakpoint(tablet){
			display:inline-block;
		}
	}
	&_delivery-opt{
		span{
			font-size: 24px;
		}
	}
	a{
		margin-left: 8px;
		color: #778d53;
		font-size: 18px;
		display: block;
		text-align: center;
		@include breakpoint(tablet){
			display: inline-block;
		}
		
		span{
			font-family: 'circe';
			font-size: 18px;
		}
		svg{
			height: 10px;
			margin-left: 10px;
			.cls-1{
				fill: #778d53;
			}
		}
		&:hover{
			color: #4d622a;
			svg{
				.cls-1{
					fill: #4d622a;
				}
			}
		}
	}
	
}
.sale{
	position: relative;
	padding: 30px 10px;
	text-align: center;
	margin-bottom: 16px;
	
	@include breakpoint(tablet){
		padding: 10px 10px;
		margin-bottom: 55px;
	}
	@include breakpoint(laptop){
		padding: 10px 10px;
	}
	@media(min-width: 900px){
		padding: 30px 10px;
	}
	&__title{
		text-transform: uppercase;
		margin: 10px 0;
		@include breakpoint(tablet){
			margin-bottom: 10px;
		}
		@include breakpoint(laptop){
			margin-bottom: 30px;
		}
	}
	&__value{
		display: block;
		font-size: 24px;
		color: #da1c19;
		font-family: 'roboto';
		font-weight: bold;
		margin-bottom: 5px;
		@include breakpoint(tablet){
			font-size: 42px;
			margin: 0;
			display: inline-block;
			position: absolute;
		    top: 0px;
   			left: 5%;
		}
		@include breakpoint(laptop){
			left: 10%;
		}
	}
	border: 3px solid #778d53;
	.marker{
		position: absolute;
		top: 58px;
		left: 15px;
		z-index: 3;
		background: #da1c19;
		color: #fff;
		font-family: 'Circe';
		font-size: 14px;
		padding: 1px 5px;
		@include breakpoint(tablet){
			top: 10px;
			left: 10px;
		}

	}
}
.rouble{
	font-family: 'rouble';
	font-weight: normal;
}
.multiply{
	font-size: 18px;
	display: block;
	text-align: right;
}
.form{
	padding: 60px 30px 20px 30px;
	background-color: #f6f6f6;
	@include breakpoint(mobileonly){
		padding: 60px 20px 20px 20px;
	}
	
	&__tabs{
		#tab1, #tab2, #tab_1, #tab_2  {
			display: none;
		}
		
		label {
			display: block;
			font-weight: 600;
			text-align: center;
			color: #778d53;
			background-color: white;
			width: 50%;
			float: left;
			text-align: left;
			@include breakpoint(phablet){
				padding: 20px 10px 20px 0;
			}
			&.agred{
				color: #9d9e9f;
				font-size: 11px;
				background-color: transparent;
			}
			&.question{
				padding: 20px 0;
				text-align: center;
			}
			&.callbacktab{
				padding: 20px 0;
				text-align: center;
			}
			&:hover {
				cursor: pointer;
			}
		}
		input:checked + label {
			color: black;
			background-color: #f6f6f6;
			span{
				border-bottom: 3px solid #778d53;
				padding-bottom: 3px;

			}
		}

	}
	&__text{
		font-size: 11px;
		text-align: center;
		color: #9d9e9f;
		max-width: 205px;
		margin: 0 auto;
	}
	label{
		&.agred{
			color: #9d9e9f;
			font-size: 11px;
			background-color: transparent;
			margin-top: -16px;
			display: block;
			padding-left: 30px;
			margin-bottom: 13px;

		}
		
	}
	input{
			height: 40px;
			width: 100%;
			border: 1px solid #c5c5c6;
			padding: 0 15px;
			margin-bottom: 14px;
			&[type="submit"]{
				height: 40px;
				font-size: 19px;
				font-family:'Circe';
				background-color: #778d53;
				color: white;
				&:hover{
					background-color: #4d622a;
				}
			}
			&[type="checkbox"]{
				height: 15px;
				width: 15px;
				margin: 0 10px 0 0;
				visibility: collapse;
				&:checked + label{
					&:before{
						background-image: url(../images/checkbox_checked.png);
					}
				}
				&+ label{
					position: relative;
					&:before{
						content: "";
						display: inline-block;
						width: 17px;
						height: 17px;
						position: absolute;
						background-image: url(../images/checkbox_unchecked.png);
						left: 0;
						background-repeat: no-repeat;
					}
				}
				
			}
		}
	textarea{
		resize: none;
		height: 75px;
		width: 100%;
		border: 1px solid #c5c5c6;
		outline: none;
		margin-bottom: 15px;
	}
	section {
		display: none;
		padding: 20px  0 0 0 ;
		background-color: #f6f6f6;
		&.active{display: block;}
	}
}
.inputwrap{
	position: relative;
	
	img{
		position: absolute;
		top: 18px;
		left: 20px;
	}
	svg{
		position: absolute;
		top: 20px;
		right: 15px;
		height: 15px;
		.cls-1{
			fill: #fff;
		}
	}
}
.subscribe-line{
	font-family: 'Circe';
	padding: 30px 20px 20px 20px;
	background-color: #353535;
	color: white;
	&__main-text{
		font-size: 14px;
		margin-bottom: 25px;
		
	}
	&__sub-text{
		font-size: 14px;
		color: #888888;
		margin-bottom: 25px;
		
	}
	&__container-flex{
		@include breakpoint(phablet){
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	label{
		position: relative;
	}
	.inputwrap{
		flex-grow: 2;
		@include breakpoint(phablet){
			margin-right: 15px;
		}
		@include breakpoint(tablet){
			margin-right: 0;
		}
		@include breakpoint(laptop){
			margin-right: 15px;
		}
	}
	input{
		font-size: 16px;
		margin-bottom: 25px;
		border: none;
		@include breakpoint(mobileonly){
			width: 100%;
			text-align: center;
		}
		&.email{
			padding: 18px 55px;
			width: 100%;
			
		}
		&[type="submit"]{
			width: 100%;
			font-family: 'Circe';
			font-size: 19px;
			padding: 13px 30px;
			background-color: #778d53;
			height: 54px;
			color: white;
			flex-grow: 1;
			padding-right: 55px;
			&:hover{
					background-color: #4d622a;
				}
		}
		&[type="checkbox"]{
			width: 15px;
			height: 15px;
			margin-right: 15px;
			margin-bottom: 0;
			float: left;
			visibility: collapse;
			&:checked + label{
				&:before{
					background-image: url(../images/checkbox_checked.png);
				}
			}
			&+ label{
				position: relative;
				&:before{
					content: "";
					width: 17px;
					height: 17px;
					display: inline-block;
					position: absolute;
					background-image: url(../images/checkbox_unchecked.png);
					left: -27px;
					background-repeat: no-repeat;
				}
			}
		}
	}
}

.footer{
	font-family: "Roboto";
	padding: 45px 0px 0 0px;
	@include breakpoint(mobileonly){
		padding: 25px 20px 0 20px;
	}
	&__hr{
		@include breakpoint(mobileonly){
			margin:7px 0 25px 0;
		}
	}
	&__flex-row{
		display: flex;
		justify-content: space-between;
		@include breakpoint(mobileonly){
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	ul.active{
		display: block;
	}
	ul{
		@include breakpoint(mobileonly){
			display: none;
		}
		
	}
	&__column{
		
		@include breakpoint(mobileonly){
			width: 100%;
		}
		@include breakpoint(phablet){
			max-width: 190px;
		}
		&_about-us{
			@include breakpoint(mobileonly){
				margin-right: 10px;
			}
		}
		&:last-child{
			text-align: right;
		}
	}
	&__list{
		a{
			color: #9d9e9f;
			line-height: 1.4;
			&:hover{
				color: #39393a;
			}
		}
		
		
		font-size: 14px;
		margin-bottom: 15px;
		@include breakpoint(mobileonly){
			margin-bottom: 0;
			&:last-child{
				margin-bottom: 20px;
			}
		}
		&.active{
			a{
				color: #494949;
				font-weight: 500;
			}
		}
	}
	&__title{
		color: #010101;
		font-size: 16px;
		margin-bottom: 18px;
		font-weight: 500;
		
		
	}
	&__phone-number{
		color: #000000;
		font-size: 21px;
		margin-bottom: 10px;
	}
	&__email{
		font-size: 14px;
		color: #9d9e9f;
		margin-bottom: 20px;
		margin-top: 13px;
		display: block;
	}
	&__text{
		font-size: 13px;
		color: #9d9e9f;
		margin-bottom: 25px;
		&_schedule{
			
			@include breakpoint(mobileonly){
				margin-bottom: 15px;
			}
		}
		span{
			display: block;
			margin-bottom: 6px;
		}
	}
	i{
		color: #6e665e;
		position: absolute;
		right: 20px;
		display: none;
		@include breakpoint(mobileonly){
			display: inline-block;
		}
	}
	&_bottom-line{
		color: #9d9e9f;
		padding: 20px 20px 15px 20px;
		@include breakpoint(mobileonly){
			padding-bottom: 35px;
			padding-top: 15px;
		}
		&__title{
			font-size: 14px;
			color: #9d9e9f;
			margin-bottom: 10px;
			&:first-child{
				margin-right: 10px;
			}
		}
		&__text{
			font-size: 11px;
			display: inline-block;
			@include breakpoint(mobileonly){
				text-align: center;
			}
			
			
		}
	}
	&__social-icon{
		display: inline-block;
		margin-right: 17px;
		margin-bottom: 25px;
		@include breakpoint(mobileonly){
			margin-bottom: 0;
		}
	}
	
}
#productslider, #productslider2 {
	height: auto !important;
}
.article{
	position: relative;
	margin-bottom: 20px;

	&__pic{
		// position: absolute;
		float: left;
		top: 0;
		left: 0;
		width: 107px;
		margin-right: 15px;
		display: inline-block;
	}
	&__pub-date{
		color: #b7b7b7;
		font-style: italic;
		font-size: 12px;
		font-family:'roboto';
		margin-bottom: 10px;
	}
	&__title{
		color: #778d53;
		font-size:18px;
		margin-bottom: 10px;
		&:hover{
			text-decoration: underline;
			color: #4d622a;
		}
	}
	&__description{
		line-height: 1.5;
		color:#9d9e9f;
		font-size: 13px;
	}
}
.hits{
	padding-bottom: 20px;
	@include breakpoint(tablet){
		margin-bottom: 70px;
		border-bottom: 1px solid #dfdfdf;
	}

}
.sorter{
	display: block;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'roboto';
	font-size: 18px;
	padding: 0 10px;
	@include breakpoint(tablet){
		margin-bottom: 60px;
		display: inline-block;
		text-align: left;
	}
	span{
		color: #898989;
		margin-right: 20px;
		font-size: 18px;
		@include breakpoint(tablet){
			font-size:29px;
		}
		&:hover{
			color: #536a30;
		}
	}
	a{
		&.active{
			span{
				color: #778d53;
				display: inline;
				padding-bottom: 3px;
				border-bottom: 3px solid #778d53;
//				background-image: url(../images/dots.png);
//				background-repeat: repeat-x;
//				background-position: bottom;
				@include breakpoint(tablet){
					font-size:29px;
				}
			}
		}
	}
	
}
.btn{
	display: inline-block;
	&_oneclick{
		width: 137px;
		text-align: center;
		padding: 10px 0;
		margin-right: 8px;
		color: #778d53;
		border: 1px solid #778d53;
		&:hover{
			border: 1px solid #4d622a;
			color: #4d622a; 
		}
	}
	&_register-later{
		text-align: center;
		padding: 10px;
		color: #fff;
		background: #778d53;
		border: 1px solid #778d53;
		&:hover{
			background:#4d622a;
			color: #fff; 
		}
		@include breakpoint(phablet){
			position: absolute;
			bottom: 30px;
			right: 0px;
		}
	}
	&_buy{
		width: 137px;
		text-align: center;
		padding: 10px 0;
		color: #fff;
		background: #778d53;
		border: 1px solid #778d53;
		&:hover{
			background:#4d622a;
			color: #fff; 
		}
	}
	&_enter{
		float: right;
		width: 127px;
		text-align: center;
		padding: 10px 0;
		color: #fff;
		background: #778d53;
		border: 1px solid #778d53;
		&:hover{
			background:#4d622a;
			color: #fff; 
		}
	}
	&_buy-mobile{
		position: relative;
		top: 19px;
		width: 100px;
		font-size: 10px;
		text-align: center;
		padding: 10px 0;
		color: #fff;
		background: #778d53;
		border: 1px solid #778d53;
		@include breakpoint(phablet){
			width: 137px;
			font-size: 15px;
		}
		&:hover{
			background:#4d622a;
			color: #fff; 
		}
	}
	&_about-delivery{
		padding: 7px 25px;
		font-size: 15px;
		color: #778d53;
		border: 1px solid #778d53;
		&:hover{
			background:#4d622a;
			color: #fff; 
		}
	}
	&_delivery-cart{
		padding: 7px 25px;
		font-size: 15px;
		color: #778d53;
		border: 1px solid #778d53;
		&:hover{
			background:#4d622a;
			color: #fff; 
		}
		@include breakpoint(laptop){
			position: absolute;
			right: 0;
			bottom: 35px;
		}
	}
	&_payment-method{
		margin: 20px 0;
		padding: 7px 25px;
		font-size: 15px;
		color: #778d53;
		border: 1px solid #778d53;
		&:hover{
			background:#4d622a;
			color: #fff; 
		}
	}
	&_products{
		float: right;
		position: relative;
		background: #f6f6f6;
		border-radius: 30px;
		font-family: 'Circe';
		font-size: 16px;
		color: #778d53;
		padding: 3px 45px 3px 20px;
		svg{
			height: 10px;
			position: absolute;
			right: 10px;
			top: 10px;
		}
		&:hover{
			background: #778d53;
			color: #fff;
			svg{
				.cls-1{
					fill:#fff;
				}
			}
		}
	}
	&_callback{
		text-transform: uppercase;
		font-size: 11px;
		background: #778d53;
		margin-right:45px;
		padding:12px 16px;
	}
	&_details{
		display: inline-block;
		position: relative;
		background: #f6f6f6;
		color: #9d9e9f;
		padding: 7px 45px 6px 20px;
		margin-bottom: 40px;
		border-radius: 30px;
		font-family: 'Circe';
		font-size: 13px;
		img{
			position: absolute;
			right: 3px;
			top: 3px;
		}
		&:hover{
			background: #778d53;
			color: #fff;
		}
	}
}
.about-company{
	text-align: center;
}

//
.fixed-overlay {
	position: fixed;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(70,70,70,0.7);
	z-index: 100;
	display: none;
	&.callback.active{display: block;}
	&.sing-in.active{display: block;}
	&.region-city.active{
		
		display: block;
	}
	
	&__modal{
		text-align: center;
		white-space: nowrap;
		&::after {
			display: inline-block;
			vertical-align: middle;
			width: 0;
			height: 100%;
			content: '';
		}
		
	}
}

.modal{
	display: inline-block;
	vertical-align: middle;
	opacity: 1;
	overflow: hidden;
	&__title{
		font-family: 'gothamproblack', sans-serif;
		font-size: 24px;
		text-align: center;
		margin-bottom: 50px;
	}
	&_container {
		
		padding: 30px 90px 40px 90px;
		text-align: center;
		white-space: normal;
		background-color: white;
		max-width: 410px;
		position: relative;
		@include breakpoint(mobileonly){
			padding: 30px 50px 40px 50px;
		}
		&_region-city{
			max-width: 960px;
			padding: 80px 20px 60px 10px;
			overflow: hidden;
			text-align: left;
			position: relative;
			background-color: #f5f5f7;
			@include breakpoint(tablet){
				width: 775px;
				height: 560px;
			}
			@include breakpoint(laptop){
				width: 960px;
			}
			
			&:before{
				content: "";
				position: absolute;
				width: 10px;
				background-color: white;
				top: 0;
				bottom: 0;
				left: 0px;
				
			}
			
		}
	}
	input{
		display: inline-block;
		width: 100%;
		font-size: 14px;
		height: 34px;
		outline: none;
		border: 1px solid #c8c8c8;
		border-radius: 3px;
		padding: 0 15px;
		color: #a0a0a0;
		
		&[type="submit"]{
			color: white;
			border: 1px solid #778d53;
			text-transform: none;
			background: #778d53;
			margin-top: 25px;
			&:hover{
				background: #4d622a;
			}
		}
		
			
	}
	.wrap-input {
		position: relative;
		display: block;
		margin-top: 45px;
		@include breakpoint(phablet){
			width: 222px;
		}
		
		span{
			position: absolute;
			left: 0;
			top: -25px;
			color: #292929;
			font-size: 14px;
		}
	}
	a.forgot-password{
		color: #778d53;
		font-size: 14px;
		display: block;
		text-align: left;
		margin-top: 20px;
		text-decoration: underline;
		&:hover{
			color: #b04b11;
		}
	}
	span.icon.icon_remove-item{
		position: absolute;
		right: 11px;
		top: 11px;
	}
	span.icon.icon_remove-item.icon_remove-item_region-city{
		position: absolute;
		right: 20px;
		top: 20px;
	}
}
.region-city{
	::-webkit-scrollbar-track{
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar{
		width: 6px;
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar-thumb{
		background-color: #92a475;
	}

	&__side-bar{
		width: 30%;
		float: left;
		height: 150%;
		overflow: hidden;
		background-color: white;
		position: relative;
		top: -90px;
		padding-top: 30px;
		.region-city__sub-title{
			padding-left: 30px;
		}
		ul{
			overflow-y: auto;
			max-height: 380px;
			direction: rtl;
			padding-left: 20px;
			.active {
				color: black;
				background-color: #F5F5F5;
			}
		}
		
		
	}
	
	&__content-bar{
		float: left;
		width:70%;
		padding-left: 40px;
		::-webkit-scrollbar-track{
			background-color: white;
		}
	}
	&__content-box{
		column-count: 3;
		column-width: 190px;
		
	}
	&__wrap-content-box{
		overflow-y: auto;
		max-height: 380px;
		
	}
	&__title{
		font-size: 29px;
		margin-bottom: 30px;
		padding-left: 30px;
	}
	&__sub-title{
		font-size: 18px;
		margin-bottom: 20px;
		
	}
	&__list{
		color: #778d53;
		line-height: 1.85;
		cursor: pointer;
		a{
			color: inherit;
			&:hover{
				text-decoration: underline;
			}
			
		}
	}
	ul{
		margin-bottom: 35px;
		padding-left: 30px;
		position: relative;
		span{
			position: absolute;
			top: 3px;
			left: 0;
			text-transform: uppercase;
			font-size: 18px;
		}
	}
	
}
.icon{
	display: inline-block;
	&_remove-item{
		background:url(../images/remove_item.png);
		height: 12px;
		width: 13px;
		&:hover{
			background:url(../images/remove_item_hover.png);
		}
	}
	&_favorites{
		background:url(../images/favorites.png);
		height: 20px;
		width: 25px;
		&:hover{
			background:url(../images/favorites_hover.png);
		}
	}
	&_cart{
		background:url(../images/cart.png);
		height: 28px;
		width: 38px;
		&:hover{
			background:url(../images/cart_hover.png);
		}
	}
}
.scroll{
	&_padding-top{
		padding-top: 79px;
	}
}
.search-form{
	display:none;
	z-index: 4;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 10px;
	background: #fff;
	form{
		input{
			-webkit-appearance: textfield;
			outline: none;
			font-size: 16px;
			width: 100%;
			padding: 15px;
			padding-right: 90px;
		}
		button{
			font-family: 'roboto';
			outline: none;
			position: absolute;
			top: 11px;
			right: 11px;
			background: #778d53;
			padding: 15px;
			color: #fff;
			font-size: 16px;
			&:hover{
				background: #4d622a;
			}
		}
	}
}
.search-form-desktop{
	display:block;
	position: relative;
	background: #f0f0f0;
	z-index: 4;
	width: 100%;
	padding: 20px;
	margin-bottom: 30px;
	form{
		input{
			-webkit-appearance: textfield;
			outline: none;
			font-size: 16px;
			width: 100%;
			height: 40px;
			padding: 0 15px;
			padding-right: 90px;
		}
		button{
			font-family: 'roboto';
			outline: none;
			height: 40px;
			position: absolute;
			top: 20px;
			right: 20px;
			background: #778d53;
			padding: 0 15px;
			color: #fff;
			font-size: 16px;
			&:hover{
				background: #4d622a;
			}
		}
	}
}
.main-menu-mobile{
	padding: 30px 35px 10px 25px;
	width: 295px;
	box-shadow: 0px 1px 3px 1px rgba(182,183,184,1);
	height: 100%;
    background: #fff;
	transition: all 0.4s ease;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 11;
	overflow-y: scroll;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    &_active{
		transition: all 0.4s ease;
		left: 0;
		visibility: visible;
		bottom: 0;
		top: 0;
		position: fixed;
	}
	.close-btn{
		position: absolute;
		right: 10px;
		top: 10px;
	}
	.catalog{
		li{
			padding: 7px 0;
			display: block;
			font-size : 16px;
			text-align: left;
			width: 100%;
			border: none;
			color: #616161;
			span{
				font-family: 'Roboto';
				font-weight: 500;
			}
			&:hover{
				color: #536a30;
			}
			:last-child{
				float: right;
			}
			i{
				position: relative;
				top: 3px;
			}
		}
	}
}
.wholesalers{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 16px;
	margin: 10px 0;
	padding: 15px 0;
	border-top: 1px solid #d9d9de;
	border-bottom: 1px solid #d9d9de;
	a{
		color: #616161;
		&:hover{
				color: #536a30;
		}
		img{
			margin-left: 10px;
		}
	}

}
.company-info{
	&_mobile{
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 16px;
		li{
			padding: 7px 0;
			text-align: left;
			display: block;
		}
		a{
			color: #616161;
			float: none;
			text-decoration: none;
			&:hover{
				color: #536a30;
			}
		}
	}
}
.submenu-block {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	top: 100%;
	width: 800px;
	background: #fff;
	z-index: 7;
	color: #443c3d;
	line-height: 18px;
	height: 350px;
	color: #778d53;
	font-size: 14px;
	box-shadow: 0px 7px 18px -6px rgba(148,148,148,1);
	font-family: "Roboto";
	::-webkit-scrollbar-track{
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar{
		width: 6px;
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar-thumb{
		background-color: #92a475;
	}
	.selection{
		height: 350px;
		background: #f9f9f5;
		float: left;
		width: 235px;
		ul{
			padding: 25px 20px;
			li{
				padding: 0;
				position: relative;
				display: block;
				margin-bottom: 20px;
				&:last-child{
						float: none;
				}
				&:hover{
					background: transparent;
					color: #34362f;
				}
				&.active{
					color: #34362f;
					background: none;
					&:before{
						content: '';
					    position: absolute;
					    transform: rotate(135deg);
					    background: #f9f9f5;
					    right: -28px;
					    top: 5px;
					    content: '';
					    width: 15px;
					    height: 15px;
					}		
				}
			}
		}

	}
	.categories,.brands{
		float: left;
		padding: 25px;
		.title{
				display: block;
				font-size: 16px;
				font-family: 'roboto';
				font-weight: 500;
				color: #616161;
				margin-bottom: 25px;
		}
		ul{
			max-height: 260px;
			overflow-y: scroll;
			z-index: 10;
			width: 220px;
			background: #fff;
			li{
				display: block;
				padding: 3px 0;
				color: #778d53;
				font-size: 14px;
				&:last-child{
					float: none;
				}
				&.active{
					color: #506332
				}
			}
		}
	}
	.brands{
		float: left;
		padding: 25px;
		.title{
				display: block;
				font-size: 16px;
				font-family: 'roboto';
				font-weight: 500;
				color: #616161;
				margin-bottom: 25px;
		}
		ul{
			max-height: 260px;
			overflow-y: scroll;
			z-index: 10;
			width: 220px;
			background: #fff;
			li{
				display: block;
				padding: 3px 0;
				color: #828284;
				font-size: 14px;
				&:last-child{
					float: none;
				}
			}
		}
	}
}
.breadcrumbs{
	font-size: 12px;
	font-family: 'Roboto';
	list-style: none;
	margin-bottom: 15px;
	color: #6c6c6c;
	display: inline-block;
	padding: 0 20px;
	@include breakpoint(desktop){
		padding: 0;
	}
	li{
		display: inline-block;
		margin-right: 10px;
		position: relative;
		&:not(:last-child):after{
			content: "/";
			display: inline-block;
			position: absolute;
			right: -11px;
			font-size: 13px;
			top: 0px;
		}
		&:not(:last-child){
			text-decoration: underline;
		}
	}
	a{
		color: #6c6c6c;
		&:hover{
			color: #778d53;
		}
	}
	&_no-margin{
		margin: 0;
	}
}
.delivery-service{
	border-top: 1px solid #cbc6be;
	border-bottom: 1px solid #cbc6be;
	padding: 25px 10px;
	margin-top: -1px;
	position: relative;
	&_form{
		margin-top: 10px;
	}
	&_last-item-payment{

		margin-bottom:75px;
	}
	@include breakpoint(phablet){
		padding: 25px 0px;
		padding-left: 230px;
	}
	&_last{
		margin-bottom: 45px;
	}
	&__name{
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 20px;
	}
	&__description{
		color: #6c6c6c;
		line-height: 1.5;
		font-size: 14px;
		margin-bottom: 20px;
		a{
			display: block;
			color: #778d53;
			text-decoration: underline;
		}
	}
	&__logo{
		text-align: center;
		margin-bottom: 20px;
		@include breakpoint(phablet){
			margin-right: 30px;
			text-align: center;
			margin: 0;
			position: absolute;
			top: 30px;
			left: 0;
		}
		&_pickpoint{
			margin-bottom: 20px;
			@include breakpoint(phablet){
				margin-right: 30px;
				margin-right: 30px;
				margin: 0;
				position: absolute;
				left: 0;
				top: 50px;
			}
		}
		&_payment{
			left: 30px;
		}
	}
	&__sum{
		font-size: 14px;
		font-style: italic;
		font-weight: 500;
		margin-bottom: 20px;
	}
}
.delivery-calc{
	background: #f8f5f0;
	padding: 25px 50px 30px;
	margin-bottom: 44px;
	button{
		margin-top: 20px;
		text-align: center;
		width:100%;
		font-size: 18px;
		color: #fff;
		background: #778d53;
		padding:8px 0;
		&:hover{
			background: #4d622a;
		}
	}
}
.input-wrapper{
	margin-bottom: 20px;
	span{
		display: inline-block;
		font-size: 16px;
		margin-bottom: 5px;
		@include breakpoint(tablet){
			width: 135px;
		}
	}
	input{
		border: 1px solid #c5c5c6;
		height: 45px;
		padding: 0 10px;
		border-radius: 0;
		width: 100%;
		@include breakpoint(desktop){
			width: 330px;
		}
	}
}
.remark{
	font-size: 14px;
	margin-bottom: 20px;
	@include breakpoint(tablet){
		height: 69px;
	}
	@media(min-width:1077px){
		height: 45px;
	}
	span:first-child{
		color: #353535;
		font-weight: 500;
	}
	span{
		color: #6c6c6c;
	}
}
.delivery-summ{
	font-size: 29px;
	@include breakpoint(tablet){
		float: right;
	}
}
.about-delivery{
	margin-bottom: 50px;
}
#recently{
	margin-bottom: 50px;
}
.filters{
	width: 320px;
	text-align: center;
	box-shadow: 0px 1px 3px 1px rgba(182,183,184,1);
	padding: 50px;
    height: 100%;
    background: #fff;
	transition: all 0.4s ease;
    position: fixed;
    top: 0;
    right: -320px;
    z-index: 4;
	overflow-y: scroll;
    visibility: hidden;
    -webkit-overflow-scrolling: touch;
    &_active{
		transition: all 0.4s ease;
		right: 0;
		visibility: visible;
		bottom: 0;
		top: 0;
		position: fixed;
	}
	@include breakpoint(tablet){
		display: block;
		width:100%;
		height: auto;
		overflow: visible;
		right: 0;
		z-index: 4;
		visibility: visible;
		position:relative;
		padding: 0;
		box-shadow: none;
		margin-bottom: 50px;
	}
	&__close-btn{
		position: absolute;
		right: 15px;
		top: 15px;
	}
}
.filter__block{
	text-align: left;
	border-bottom: 1px solid #b9bbc4;
	padding: 25px 0;
	&_top{
		padding-top:0;
	}
	a{
		color: #778d53;
		font-size: 14px;
	}
	a:hover{
		color: #778d53;
	}
	a.active{
		color: #5b7038; 
	}
	&__name{
		color: #39393a;
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 20px;
		&_faq{
			font-size: 24px;
			color: #010101;
			margin-bottom: 30px;
		}
	}
	&__item{
		margin-bottom: 15px;
		color: #5e5e5e;
		font-size: 14px;
		&:last-child{
			margin-bottom: 0px;
		}
	}
	&_slider{
		border: none;
		margin-bottom: 20px;
	}
	.range-slider{
		margin-bottom: 15px;
	}
	.sliderValue{
		display: inline-block;
		margin-bottom: 10px;
		input{
			width: 75px;
			padding: 10px;
			outline: none;
			border: 1px solid #c8c8c8;
			@include breakpoint(tablet){
				width: 62px;
				padding: 10px;
			}
			@media(min-width: 1130px){
				width: 75px;
				padding: 10px;
			}
		}
		span{
			font-size: 14px;
			color: #6c6c6c;
		}
	}
	.sliderValue_right{
		float:right;
	}
}
[id^=chkbox]{
	display: none;
	outline: none;
}
[id^=chkbox] + label{
	display: inline-block;
	width: 19px;
	height: 19px;
	background:url('../images/checkbox_unchecked.png');
	background-repeat: no-repeat;
span{
		position: relative;
		top: 0px;
		left: 25px;
	}
}
[id^=chkbox]:checked + label{
	display: inline-block;
	height: 19px;
	background:url('../images/checkbox_checked.png');
	background-repeat: no-repeat;
	label{
		span{
			position: relative;
			top: 0px;
			left: 24px;
		}
	}
}
.paginator{
	margin: 30px auto;
	@include breakpoint(tablet){
		margin: 0px auto;
		margin-bottom: 55px;
	}
	&_search{
		margin-top:36px;
	}
	ul{
		text-align: center;
		display: black;
		margin-top: 15px;
		list-style: none;
		li{
			vertical-align: middle;
			color: #181818;
			display: inline-block;
			margin: 0px 5px;
			line-height: 39px;
			border: 1px solid #d3d3d3;
			border-radius: 100%;
			width: 40px;
			height: 40px;
		}
		li:hover{
			color: #778d53;
			border: 1px solid #778d53;
		}
		li.active{
			color: #778d53;
			border: 1px solid #778d53;
		}
		li.prev, li.next{
			padding-top: 10px;
			background: transparent;
			border: 1px solid transparent;
			line-height: 42px;
			svg{
				height: 15px;
			}
		}
	}
}
.sort-items{
	padding: 0 10px;
	margin: 0 20px 25px 0;
	font-size:14px;
	@include breakpoint(laptop){
		display: inline-block;
		padding: 0;
	}
	span{
		color: #010101;
		margin-right: 15px;
	}
	.sort-name,.sort-popular,.sort-price{
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		span{
			margin-right: 6px;
			color: #778d53;
		}
		&.active{
			span{
				color: #010101;
			}
			i{
				color: #010101;
			}
		}
	}
	i{
		color: #778d53;
	}
	a{
		color: #000;
		margin-right:6px;
		@include breakpoint(tablet){
			margin-right: 10px;
		}
		&.active{
			span{
				color: #010101;
			}
			i{
				color: #010101;
			}
		}
	}
}
.items-on-page{
	padding: 0 10px;
	display: inline-block;
	span{
		font-size:14px;
		color: #010101;
	}
	@include breakpoint(desktop){
		padding: 0;
		margin-bottom: 50px;
	}
}
.switch-items-display{
	margin-bottom: 50px;
	display: inline-block;
	position: relative;
    top: 6px;
	@include breakpoint(desktop){
		float: right;
	}
	.display-icon-list,.display-list,.display-table{
		display: inline-block;
		svg{
			margin: 0 10px;
			height: 20px;
			.cls-1{
				fill: #778d53;
			}
		}
		&.active{
			svg{
				.cls-1{
					fill: #010101;
				}
			}
		}
	}
	
}
.social{
	&-img{
		text-align: center;
		li{
			display: inline-block;
		}
	}
	&-title{
		font-size: 24px;
		margin-bottom: 17px;
		text-align: center;
		@include breakpoint(mobileonly){
			font-size: 18px;
		}
	}
}
.register-form{
	border: 5px solid #e0e4da;
	max-width: 850px;
	margin: 0 auto;
	text-align: center;
	padding: 55px 125px 40px 85px;
	margin-top: 90px;
	margin-bottom: 90px;
	@include breakpoint(mobileonly){
		padding: 30px 20px 10px 20px;
		margin-top: 50px;
		margin-bottom: 0;
		
	}
	#registers_1,#registers_2{
		height: auto;
		width: auto;
		display: inline-block;
	}
	.inner-wrap{
		&.inner-wrap_auto-width{
			
			@include breakpoint(laptop){
				width: auto;
			}
		}
		&.block-laptop{
			@include breakpoint(laptop){
				display: block;
			}
			
		}
		@include breakpoint(tablet){
			width: 310px;
			float: right;
			
		}
		@include breakpoint(laptop){
			display: inline-block;
			float: none;
			width: auto;
			}
		}
	.title{
		font-size: 36px;
		display: inline-block;
		padding: 0 50px;
		margin-top: -79px;
		margin-bottom: 45px;
		z-index: 1;
		position: relative;
		background-color:#ffffff;
		left: 35px;
		@include breakpoint(mobileonly){
			font-size: 30px;
			padding: 0 20px;
			margin-top: -55px;
			left: auto;
			margin-bottom: 0;
		}
	}
	.input-icon{
		position: relative;
		&_mail{
			&:after{
				background-image: url(../images/mail_form.png);
			}
			
		}
		&_lock{
			&:after{
				background-image: url(../images/lock_form.png);
			}
		}
		&:after{
			content: "";
			display: inline-block;
			position: absolute;
			right: 10px;
			width: 25px;
			height: 25px;
			background-repeat: no-repeat;
			top: 50px;
			@include breakpoint(tablet){
				top: 15px;
			}
			
		}
	}
		
	
	#agred {
		color: #9d9e9f;
		font-size: 11px;
		background-color: transparent;
		margin-top: -16px;
		visibility: hidden;
		padding-left: 30px;
		margin-bottom: 13px;
		display: none;
	}
	label{
		font-size: 16px;
		color: #8f8f8f;
		margin-right: 25px;
		@include breakpoint(mobileonly){
			margin-right: 15px;

		}
		
	}
	.tooltip {
		font-size: 12px;
		color: #8f8f8f;
		font-weight: 500;
		text-align: left;
		
		a{
			color: #778d53;
			text-decoration: underline;
			padding-left: 2px;
		}
		@include breakpoint(laptop){
			margin-left: 220px;
		}
		
	}
	input{
		width: 100%;
		height: 45px;
		border: 1px solid #c6c6c6;
		padding: 0 20px;
		display: block;
		@include breakpoint(tablet){
			float: right;
			display: inline-block;
			max-width: 410px;
			width: 310px;
		}
		@include breakpoint(laptop){
			width: 100%;
		}
		&[type="radio"]{
			float: none;
			visibility: hidden;
			& + label:before {
				content: "";
				display: inline-block;
				width: 18px;
				height: 18px;
				position: absolute;
				background-image: url(../images/radio_unchecked.png);
				margin-left: -25px;
				background-repeat: no-repeat;
			}
			&:checked + label:before{
				background-image: url(../images/radio_checked.png);
			}
		}
		&[type="checkbox"]{
			margin-bottom: 50px;
			
			& + label{
				color: #8f8f8f;
				font-size: 12px;
				font-weight: 500;
				font-style: normal;
				margin-left: 25px;
				display: inline-block;
				margin-top: 15px;
				margin-bottom: 25px;
				margin-right: 0;
				
			}
			& + label:before {
				content: "";
				display: inline-block;
				width: 17px;
				height: 17px;
				position: absolute;
				background-image: url(../images/checkbox_unchecked.png);
				margin-left: -25px;
				background-repeat: no-repeat;
			}
			&:checked + label:before{
				background-image: url(../images/checkbox_checked.png);
			}
		}
		&:invalid{
			border: 1px solid #ea7d7d;
		}
		&[type="password"]:invalid ~ span{
			display: inline-block;
		}
		&[type="submit"]{
			height: 40px;
			font-size: 19px;
			font-family: 'Circe';
			background-color: #778d53;
			color: white;
			margin: 30px 0 20px 0;
			@include breakpoint(tablet){
				margin: 0;
			}
			&:hover{
				background-color: #4d622a;
			}
			& + .inner-wrap.inner-wrap_auto-width .tooltip{
				color: #b9b9b9;
			}
						
		}
	}
	.input-wrap{
		text-align: left;
		position: relative;
		@include breakpoint(tablet){
			margin: 0 0 20px 0;
		}
		
		&.input-wrap_checkbox{
			@include breakpoint(tablet){
			margin-bottom: 0;
			width: auto;
		}
			@include breakpoint(laptop){
				margin-left: 220px;
				display: block;
				margin-bottom: 0;
			}
		}
		&.social-icon{
			margin-top: 20px;
			@include breakpoint(tablet){
				margin-top: 70px;
			}
			@include breakpoint(laptop){
				margin-left: 220px;
				margin-top: 40px;
			}
			
		}
		span{
			display: inline-block;
			color: #6e665e;
			font-weight: 500;
			
			&:first-child{
				font-size: 14px;
				color: #2a2a2a;
				width: 220px;
				margin-top: 15px;
				margin-bottom: 5px;
				&.confirm-password{
					@include breakpoint(tablet){
						margin-bottom: 25;
					}
					
				}
				&.request{
					@include breakpoint(tablet){
						margin-top:  0;
					}
					
				}
				@include breakpoint(tablet){
					width: 220px;
					margin-bottom: 10px;
				}
				
				&:after{
					content: "*";
					color: red;
					padding-left: 5px;
					
				}
			}
			
			&:last-child{
				color: #f52424;
				font-size: 12px;
				margin-top: 5px;
				font-weight: normal;
				display: none;
				
			}
		}
	}

}
.result-item{
	padding: 20px 0 25px 10px;
	position: relative;
	padding-bottom: 85px;
	padding-left: 120px;
	border-top: 1px solid #e0e0e6;
	border-bottom: 1px solid #e0e0e6;
	margin-bottom: -1px;
	@include breakpoint(laptop){
		padding-left: 130px;
		padding-bottom: 0;
	}
	&__pic{
		display: block;
		width: 90px;
		position: absolute;
		top: 50%;
		margin-top: -75px;
		left: 10px;
		height: 90px;
		text-align: center;
		img{
			max-width: 90px;
			max-height: 90px;
		}
		@include breakpoint(laptop){
			left: 20px;
			margin-top: -45px;
		}
	}
	&__name{
		color: #778d53;
		font-family: 'Circe';
		font-size: 18px;
		max-width: 250px;
		margin-bottom: 5px;
		@include breakpoint(laptop){
			margin-bottom: 20px;
		}
	}
	&__categories{
		// display: none;
		font-size: 10px;
		margin-bottom: 5px;
		span{
			margin-right: 9px;
			color: #39393a;
		}
		@include breakpoint(laptop){
			font-size: 12px;
			display: block;
			margin-bottom: 20px;
			span{
				margin-right: 25px;
				color: #39393a;
			}
		}
	}
	&__price{
		font-weight: 700;
		font-size: 24px;
		color: #010101;
		@include breakpoint(phablet){
			position:absolute;
			right:12px;
			top: 12px;
		}
	}
	.buttons{
		position: absolute;
		left: 10px;
		bottom: 25px;
		// margin-left: -138px;
		@include breakpoint(laptop){
			position: absolute;
			margin: 0;
			left: auto;
			right: 0px;
			bottom: 25px;
		}
	}
}
.pay-method,.delivery-method{
	display: inline-block;
	margin-bottom: 40px;
	span{
		margin-bottom: 10px;
		display: block;
		color: #39393a;
		font-size: 14px;
		font-weight: 500;
	}
	@include breakpoint(mobileonly){
		display: none;
	}
}
.pay-method{
	margin-right: 28px;
}
table.order{
	margin-bottom: 55px;
	width: 100%;
	border-spacing: 0;
	th{
		text-align: left;
		// background: #f2f3f4;
		border-bottom: 1px solid #e1e1e1;
		padding: 10px;
		color: #39393a;
		font-size: 12px;

	}
	td.picture{
		text-align: center;
		padding-top: 20px;
		img{
			max-height: 70px;
			max-width: 70px;
		}
	}
	td{
		position: relative;
		vertical-align: top;
		padding: 20px 10px 27px 10px;
		text-align: left;
		border-bottom: 1px solid #e1e1e1;
		.product-item__number{
			position: absolute;
			top: -15px;
			left: 2px;
		}
		&.off-right-padding{
			padding-right: 0;
			text-align: right;
		}
	}
	.middle{
		vertical-align: middle;
	}
	.fix-width{
		width: 15%;
	}
	.remove-item{
		width: 5%;
	}
	.special-price{
		padding-right: 35px;
		text-align: right;
	}
	.special-offer{
		margin-bottom: 80px;
	}
}
.icon{
	display: inline-block;
	&_remove-item{
		background:url(../images/remove_item.png);
		height: 12px;
		width: 13px;
		&:hover{
			background:url(../images/remove_item_hover.png);
		}
	}
	&_amount-plus{
		user-select:none;
		background:url(../images/amount_plus.png);
		height: 26px;
		width: 26px;
		// &:hover{
		// 	background:url(../images/amount_plus_hover.png);
		// }
	}
	&_amount-minus{
		user-select:none;
		background:url(../images/amount_minus.png);
		height: 26px;
		width: 26px;
		// &:hover{
		// 	background:url(../images/amount_minus_hover.png);
		// }
	}
}
.amount{
	user-select: none;
	position: relative;
	margin-right: 3px;
	border: none;
	top: -6px;
	width: 25px;
	text-align:center;
	font-size: 19px;
	font-weight:bold;
}
.show-laptop-table{
	display: none;
	@include breakpoint(laptop){
		display: table;
	}
}

.product-item{
	margin-top: -1px;
	position: relative;
	padding: 15px 0;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	&__remove{
		position: absolute;
		right: 10px;
		top: 10px;
	}
	&__description{
		padding: 10px 0;
		padding-bottom: 20px;
		margin-bottom:10px;
		padding-left: 83px;
		border-bottom: 1px dashed #e1e1e1;
	}
	&__image{
		position: absolute;
		top: 25px;
		left: 0;
		width: 80px;
		text-align: center;
		img{
			max-height: 60px;
		}
	}
	&__name{
		position: relative;
		font-family: 'robotobold',sans-serif;
		font-size: 16px;
		&_filters{
			margin-bottom: 15px;
		}
	}
	&__number{
		position: absolute;
		top: -15px;
		left: 3px;
		font-family: 'arial';
		font-size: 11px;
		margin-bottom: 10px;
		color: #5a5a5a;
	}
	&__field-name{
		color: #919292;
		font-size: 14px;
		margin: 5px 0;
	}
	&__price{
		font-size: 19px;
	}
	&__sum{
		font-size: 19px;
	}
	&__amount{
		font-size: 19px;
	}
}
.order-label{
	background-color: #f8f5f0;
	text-align: center;
	padding: 40px 15px;
	border-bottom: 8px solid #f8f5f0;
	border-image: url(../images/border.png) 10 repeat;
	@include breakpoint(laptop){
		padding: 40px 30px 40px 45px;
	}
	
	&__total{
		font-size: 24px;
		color: #6a6a6a;
		margin-bottom: 20px;
		
	}
	&__price{
		font-size: 48px;
		font-weight: bold;
		margin-bottom: 30px;
		span{
			&:first-child{
				margin-right: 10px;
			}
		}
		
	}
	&__bonus{
		font-size: 13px;
		margin-bottom: 30px;
		span{
			&:first-child{
				color: #9d9e9f;
				margin-right: 15px;
				& + span{
					font-weight: 900;
					margin-right: 5px;
				}
				
			}
			&:last-child{
				font-weight: 100;
			}
		}
		
	}
	&__submit{
		display: inline-block;
		position: relative;
		overflow: hidden;
		input[type="submit"] {
			height: 40px;
			font-size: 19px;
			font-family: 'Circe';
			background-color: #778d53;
			color: white;
			font-weight: 500;
			padding: 0 30px 0 20px;
			border: none;
			&:hover {
				background-color: #4d622a;
			}
		}
		&:before, &:after{
			content: "";
			position: absolute;
			right: -15px;
			height: 200%;
			width: 15px;
			display:inline-block;
			background-color: #f8f5f0;
		}
		&:before{
			top: -50%;
			transform: rotate(-35deg);
		}
		&:after{
			top: -50%;
			transform: rotate(35deg);
		}
	}
}
.payment-methods{
	text-align: center;
	margin-bottom: 50px;
	.method{
		vertical-align: top;
		display: inline-block;
		margin: 0 50px;
		@include breakpoint(laptop){
			margin: 0 100px;
		}
		&__pic{
			margin-bottom: 25px;
		}
		&__name{
			max-width: 175px;
			color: #616161;
			font-size: 24px;
		}
	}
}
.authorized-order{
	padding: 10px;
	@include breakpoint(tablet){
		padding-bottom: 55px;
	}
	@include breakpoint(desktop){
		padding: 0;
	}
	&__title{
		font-size: 29px;
		margin-bottom: 25px;
		@include breakpoint(mobileonly){
			font-size: 20px;
			text-align: center;
		}
		span{
			font-weight: 300;
		}
		&_topform{
			margin-top: 20px;
			padding: 0 20px;
			@include breakpoint(desktop){
				padding: 0;
			}
		}
		
	}
	&__sub-title{
		color: #010101;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 15px;
		@include breakpoint(mobileonly){
			//width: 100%;
		}
			
	}
	&__form{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include breakpoint(tablet){
			//justify-content: center;
		}
		@include breakpoint(laptop){
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		
	}
	&__data{
		width: 100%;
		@include breakpoint(phablet){
			max-width: 570px;
			flex-shrink: 1;
		}
	}
	&__products{
		width: 100%;
		
		@include breakpoint(phablet){
			width: 570px;
			
			flex-shrink: 5;
			
		}
		@include breakpoint(laptop){
			max-width: 450px;
			padding-left: 10px;
			
		}
		
	}
	&__contacts{
		input{
			width: 100%;
		}
	}
	&__delivery-place{
		color: #8a8a8a;
		font-size: 14px;
		font-weight: 500;
		text-decoration: underline;
		margin-bottom: 20px;
		
	}
	&__total{
		font-size: 24px;
		color: #010101;
		@include breakpoint(mobileonly){
			font-size: 20px;
		}
		
	}
	&__delivery-cost{
		font-size: 24px;
		color: #010101;
		@include breakpoint(mobileonly){
			font-size: 20px;
		}
	}
	
	&__info{
		&-row{
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			flex-wrap: wrap;
			&.up{
				margin-top: 10px;
			}
			&_delivery-service{
				display: none;
				&.active{
					display: flex;
				}
			}
			.product__price{
				font-size: 24px;
				@include breakpoint(mobileonly){
					font-size: 20px;
				}
			}
		}
		input{
			width: 100%;
		}
		.wrap-inner{
			width: 380px;
			display: inline-block;
			font-size: 0;
			@include breakpoint(mobileonly){
				width: 100%;
			}
			
		}
		input:checked + label{
			background-color: #778d53;
			color: white;
		}
		label{
			width: 50%;
			display: inline-block;
			height: 40px;
			background-color: transparent;
			color: #616161;
			text-align: center;
			font-size: 15px;
			font-weight: 500;
			line-height: 40px;
			margin-bottom: 20px;
			@include breakpoint(mobileonly){
				margin-bottom: 20px;
			}
			
		}
		
	}
	&__buy{
		text-align: right;
		margin-top: 45px;
		input[type="submit"]{
			display: inline-block;
			width: 250px;
			height: 55px;
			color: white;
			background-color: #778d53;
			font-size: 24px;
			font-weight: 500;
			border: none;
			&:hover{
				background-color: #4d622a;
			}
		}
			
		
	}
	#delivery, #pickup{
		display: none;
	}
	&__adress{
		input.street{
			width: 100%;
			margin-right: 0;
		}
		input{
			width: 150px;
			margin-right: 7px;
			@include breakpoint(mobileonly){
				width: 100%;
				margin-right: 0;
			}
			
			&:last-child{
				width: 85px;
				margin-right: 0;
				@include breakpoint(mobileonly){
					width: 100%;
				}
			}
		}
	}
	select{
		width: 100%;
		margin-top: 20px;
		outline: none;
	}
	input, select{
		height: 40px;
		margin-bottom: 20px;
		color: #7f7f7f;
		padding: 0 15px;
	}
	.order{
		border-top: 1px solid #e1e1e1;
		margin-bottom: 10px;
	}
}
.enter-form{
	padding: 10px;
	background: #f8f5f0;
	@include breakpoint(laptop){
		padding: 30px 25px 50px 40px;
		margin-bottom: 30px;
	}
	p{
		padding: 0;
	}
	&__title{
		color: #010101;
		font-size: 21px;
		font-weight: 900;
		margin-bottom: 15px;
	}
	&-col{	
		position: relative;
		@include breakpoint(laptop){
			float: left;
		}
	}
	&__login{
		margin-bottom: 40px;
		@include breakpoint(laptop){
			float: left;
			width: 38%;
			margin-right: 30px;
		}
		@include breakpoint(desktop){
			margin-bottom: 0;
		}
		input{
			height: 40px;
			padding: 0 10px;
			width: 100%;
			margin-bottom: 12px;
			&[type="checkbox"]{
				display: none;
				&:checked + label{
					&:before{
						background-image: url(../images/checkbox_checked.png);
					}
				}
				&+ label{
					position: relative;
					top: 10px;
					display: inline-block;
					span{
						position: relative;
						left: 25px;
					}
					&:before{
						content: "";
						display: inline-block;
						width: 17px;
						height: 17px;
						position: absolute;
						background-image: url(../images/checkbox_unchecked.png);
						left: 0;
						background-repeat: no-repeat;
					}
				}
				
			}
		}
	}
	&__block{
		margin-bottom: 20px;
		p{
			line-height: 1.2;
			padding: 0;
			max-width: 315px;
		}
		span{
			display: inline-block;
			font-size: 24px;
			color: #010101;
			margin-right: 20px;
			vertical-align: middle;
			@include breakpoint(desktop){
				margin-right: 50px;
			}

		}
		&_withot-registration{
			span{
				display: inline-block;
				font-size: 24px;
				color: #010101;
				margin-right: 50px;
				vertical-align: middle;
				margin-bottom: 20px;
			}
		}
		.icons{
			margin: 20px 0;
			display: inline-block;
			@include breakpoint(laptop){
				margin: 0;
			}
		}
		img{
			margin: 0 5px;
			vertical-align: middle;
		}
	}
}