.wrapper
	.footer
		.footer__flex-row
			.footer__column.footer__column_about-us
				.footer__title О компании
					i.fa.fa-chevron-down
				ul.active
					li.footer__list.active
						a(href="#") Контакты
					li.footer__list
						a(href="#") Пресса о нас
					li.footer__list
						a(href="#") Политика конфиденциальности и оферта
					li.footer__list
						a(href="#") Условия обмена и возврата
			.footer__column
				.footer__title Сервис
					i.fa.fa-chevron-down
				ul
					li.footer__list
						a(href="#") Личный кабинет
					li.footer__list
						a(href="#") Корзина
					li.footer__list
						a(href="#") Оформить бесплатную доставку
					li.footer__list
						a(href="#") Оплата
					li.footer__list
						a(href="#") Доставка
			.footer__column
				.footer__title Товары
					i.fa.fa-chevron-down
				ul
					li.footer__list
						a(href="#") Батончики из Шелковицы
					li.footer__list
						a(href="#") Топинамбур
					li.footer__list
						a(href="#") Суперфулы
					li.footer__list
						a(href="#") Урбеч
					li.footer__list
						a(href="#") Какао коллекция
					li.footer__list
						a(href="#") Шоколадная коллекция
					li.footer__list
						a(href="#") Полезные смеси
					li.footer__list
						a(href="#") Масло
			.footer__column.show-tablet
				.footer__phone-number +7 (499) 653-67-89
				.footer__phone-number 8 (800) 800-80-80
				a.footer__email(href="mailto:info@dary-pamira.ru") info@dary-pamira.ru
				.footer__text
					span Работаем с 09:00 до 21:00 без
					span обеда и выходных
				.footer__social-icon
					img(src="images/vk.png")
				.footer__social-icon
					img(src="images/fb.png")
				.footer__social-icon
					img(src="images/instagram.png")
	hr.footer__hr.hide-phablet
	.hide-tablet.center
		.footer__phone-number +7 (499) 653-67-89
		.footer__phone-number 8 (800) 800-80-80
		a.footer__email(href="mailto:info@dary-pamira.ru") info@dary-pamira.ru
		.footer__text.footer__text_schedule
			span Работаем с 09:00 до 21:00 без
			span обеда и выходных
		.footer__social-icon
			img(src="images/vk.png")
		.footer__social-icon
			img(src="images/fb.png")
		.footer__social-icon
			img(src="images/instagram.png")
hr.show-phablet
.wrapper
	.footer_bottom-line
		.footer__flex-row
			.footer_bottom-line__title Дары Памира 2013-2017
			a.footer_bottom-line__title.show-phablet(href="#") Дизайн сайта - Михаил Соловьев
		.footer_bottom-line__text Использование любых материалов с данного ресурса возможно только после личного согласия администратора проекта.
