.subscribe-line
			.wrapper
				.row.clearfix
					.col-tablet-1-2
						.subscribe-line__main-text Статьи, рекомендации и новости от марки Дары пальмира, Бесплатные советы экспертов о натуральных продуктах косметике, красоте и здоровье.
						.subscribe-line__sub-text Мы не рассылаем СПАМ, только важные акции!
					.col-tablet-1-2
						form
							.subscribe-line__container-flex
								.inputwrap
									input.email(type="email" placeholder="Ваш e-mail")
									img(src="images/mail.png", alt="mail")
								.inputwrap
									input(type="submit" value="Подписаться")
									include ../images/arrow_right.svg
							input#subscribe-line(type="checkbox")
								
							label.subscribe-line__sub-text(for="subscribe-line") Я согласен с правиласи пользования сервисом