html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			ul.breadcrumbs.show-laptop
					li
						a(href="index.html") Главная
					li
						a(href="#") Каталог
			.block-title.block-title_delivery
				span Продукция из топинамбура
			p.about-delivery Здесь Вы всегда можете приобрести качественные натуральные продукты, а наряду с этим и уверенность в правильности выбранного пути здорового образа жизни и его важной составляющей - натурального и полезного питания.Мы предлагаем эко-продукцию, которая производится в экологически чистых регионах разных стран и ориентированы на предоставление потребителю исключительного качества различных продуктов на рынке здорового питания. Наш выбор – 100% натуральные и полезные продукты питания, в составе которых нет вредных для здоровья пищевых добавок, красителей и консервантов, ГМО и т.п. химии. 
			.clearfix
				.col-tablet-1-5
					include ./parts/filters.pug
				.col-tablet-4-5.no-padding.no-padding_tablet
					.clearfix
						.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_02.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_07.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_03.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_05.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_04.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_01.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_02.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.col-tablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_06.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.