html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			ul.breadcrumbs.show-laptop
					li
						a(href="index.html") Главная
					li
						a(href="#") Каталог
			.block-title.block-title_delivery
				span Продукция из топинамбура
			p.about-delivery Здесь Вы всегда можете приобрести качественные натуральные продукты, а наряду с этим и уверенность в правильности выбранного пути здорового образа жизни и его важной составляющей - натурального и полезного питания.Мы предлагаем эко-продукцию, которая производится в экологически чистых регионах разных стран и ориентированы на предоставление потребителю исключительного качества различных продуктов на рынке здорового питания. Наш выбор – 100% натуральные и полезные продукты питания, в составе которых нет вредных для здоровья пищевых добавок, красителей и консервантов, ГМО и т.п. химии. 
			.clearfix
				.col-tablet-1-4
					include ./parts/filters.pug
				.col-tablet-3-4.no-padding.no-padding_tablet
					.sort-items
						span
							|Сортировать по:
						a(href="#").sort-popular
							span
								|Популярность
							i.fa.fa-angle-down
						a(href="#").sort-price
							span
								|Цена
							i.fa.fa-angle-up
						a(href="#").sort-name
							span
								|Название
							i.fa.fa-angle-down
					.items-on-page
						span
							|Товаров на странице:
						select.select-brand
							option(selected) 15шт. 
							option 35шт.
							option 50шт.
					.switch-items-display
						a(href="#").display-icon-list
							include ./images/icon_list.svg
						a(href="#").display-list
							include ./images/list.svg
						a(href="#").display-table.active
							include ./images/table.svg
					a.btn.btn_show-filter.hide-tablet(id="show-filter-mobile")
						|Показать фильтрацию
					.clearfix
						.col-mobileonly-1-2.col-phablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_02.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_07.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_03.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_05.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_04.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_01.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_08.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_05.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
						.col-mobileonly-1-2.col-phablet-1-3.no-padding
							.product
								.product__img
									a(href="#")
										img(src="images/product_03.png",alt="product")
								a(href="#").product__name
									|Батончик с миндалем «Шелковица с Памира»
								.product__code
									|ДарыПамира  /  LFG-934
								.product__price
									span 20
									span.rouble q
									.product__volume
										|20г.
					.paginator
						ul
							a(href="#")
								li 1
							a(href="#")
								li.active 2
							a(href="#")
								li 3
							a(href="#").show-tablet-inline
								li 4
							a(href="#").show-tablet-inline
								li 5
							a(href="#")
								li.next
									include ./images/arrow_right.svg
					.pay-method
						span
							|Принимаем к оплате
						a(href="#")
							img(src="images/cash.png", alt="pic")
						a(href="#")
							img(src="images/visa.png", alt="pic")
						a(href="#")
							img(src="images/master_card.png", alt="pic")
						a(href="#")
							img(src="images/qiwi.png", alt="pic")
						a(href="#")
							img(src="images/webmoney.png", alt="pic")
						a(href="#")
							img(src="images/sberbank.png", alt="pic")
					.delivery-method
						span
							|Доставляем
						a(href="#")
							img(src="images/post-del.png", alt="pic")
						a(href="#")
							img(src="images/pickpoint.png", alt="pic")
						a(href="#")
							img(src="images/boxberry.png", alt="pic")
						a(href="#")
							img(src="images/russia_post.png", alt="pic")
						a(href="#")
							img(src="images/grastin.png", alt="pic")
						a(href="#")
							img(src="images/dpd.png", alt="pic")
		include ./parts/subscribe-form.pug
		include ./parts/footer.pug