html
	head
		include ./parts/head.pug
	body
		.header-top
			.wrapper
				.company-info.show-laptop-inline
					ul
						li
							a(href="#") О нас
						li
							a(href="#") Оплата
						li
							a(href="#") Доставка
						li
							a(href="#") Контакты
						li
							a(href="#") Вопрос-ответ
						li
							a(href="#") Поставщикам
				.enter
					img(src="images/lock.png", alt="lock icon")
					a(href="#")
						span.dashed.sign-in Вход
					span |
					a(href="#")
						span.underline Регистрация
		.header-middle
			.wrapper
				.location
					.city
						img(src="images/marker.png", alt="marker")
						a(href="#") Москва
					.points
						span 692 пункта
						br
						span выдачи заказов
				.delivery
					img(src="images/delivery.png", alt="marker")
					.delivery-time
						span Доставка в город
						br
						span Красноярск за 2-14 дней
				.telephone
					a(href="tel:74996546789") +7 (499) 653-67-89
					span по Москве
				.telephone
					a(href="tel:74996546789") +7 (499) 653-67-89
					span бесплатно по России
				.callback
					a(href="#") Обратный звонок
					span с 8:00 до 20:00 по мск
		.wrapper
			.header-bottom
				.logo
					img(src="images/logo.png", alt="logo")
					.text
						span Продукты
						br
						span с пользой для здоровья
				.search
					form
						input(type="search", placeholder="Поиск", name="search")
						button(type="submit")
							i.fa.fa-search
				.favorites
					.favorites-icon
						img(src="images/favorites.png")
						span.favorites-item-count 3
					span Избранное
				a(href="#").shoppingcart
					img(src="images/cart.png")
					span.cart-item-count 3
				a(href="#").shopping-sum
					span
						|2199
					span
						|q
		.main-menu
			.wrapper
				ul
					li
						a(href="#") Акции
					li
						a(href="#") Питание
					li
						a(href="#") Косметика
					li
						a(href="#") Для дома
					li
						a(href="#") Бренды
					li
						a(href="#") Прочее
					li
						a(href="#") Оптовикам
						img(src="images/opt.png", alt="pic")
		.wrapper
			.row.clearfix
				.col-tablet-2-3
					ul#promoslider
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
				.col-tablet-1-3
					.sale
						.marker
							|Cкидка
						.sale__title
							|Товар дня
						.product
							.product__img.product__img_sale
								.sale__value
									|-20%
								img(src="images/product_sale.png",alt="product")
							.product__name.product__name_sale
								|Батончик с миндалем «Шелковица с Памира»
							.product__price.product__price_sale
								span 20
								span.rouble q
								.product__old-price
									span 20
									span.rouble q
		.wrapper
			ul#productslider
				.product
					.product__img
						img(src="images/product_01.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_02.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_03.png",alt="product")
					.product__name
						|Крем кокосовый органический, "Econutrena", жирность 68%, 300мл
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_04.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
		.section-title
				span Лидеры продаж
		.wrapper
			ul#productslider2
				.product
					.product__img
						img(src="images/product_01.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_02.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_03.png",alt="product")
					.product__name
						|Крем кокосовый органический, "Econutrena", жирность 68%, 300мл
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_04.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
			.tabs-form
				.tabs-form__tabs
					input#tab1(type="radio" name="tabs" checked)
					label.tabs-form_question(for="tab1") Задать вопрос
					input#tab2(type="radio" name="tabs")
					label.tabs-form_callback(for="tab2") Перезвонить мне
					section#content1
						form
							input(type="text" placeholder="Ваше имя")
							input(type="tel" placeholder="+7 (____) ____ - __ - __")
							textarea
							input(type="submit" value="Отправить")
							label.agred
								input(type="checkbox")
								| Я соглашаюсь с правиласи пользования сервисом и даю согласие на хранение и обработку моих персональных данных
								
							
					section#content2
						form
							input(type="text" placeholder="Ваше имя")
							input(type="tel" placeholder="+7 (____) ____ - __ - __")
							input(type="submit" value="Отправить")
						
			.section-title
				span Коротко о магазине
			p Компания «Дары Памира» - это сплоченная команда увлеченных идеей здорового питания людей. Мы специализируемся на производстве и дистрибуции продуктов здорового питания. Основная идея нашего проекта - распространение и популяризация философии потребления вкусных и полезных для здоровья продуктов питания. Стратегические планы компании ориентированы на развитии собственных и партнерских производств, работе с перспективными производителями готовой продукции и сырья, исследовательской и научной деятельности по разработке новых интересных продуктов совместно исследовательскими пищевыми учреждениями (ФГБНУ ВНИИТЕК и др.), а также инвестиционных проектах – поддержке и финансировании фермерских хозяйств, производителей, поставщиков сырья. Важный актив компании – выстроенная сбытовая сеть партнерских торговых точек и дистрибуторов России и ближнего зарубежья, которая активно растет. Мы очень благодарны нашим партнерам за доверие и причастность к нашему общему делу.
		.subscribe-line
			.wrapper
				.row.clearfix
					.col-tablet-1-2
						.subscribe-line__main-text Статьи, рекомендации и новости от марки Дары пальмира, Бесплатные советы экспертов о натуральных продуктах косметике, красоте и здоровье.
						.subscribe-line__sub-text Мы не рассылаем СПАМ, только важные акции!
					.col-tablet-1-2
						form
							.subscribe-line__container-flex
								input.email(type="email" placeholder="Ваш e-mail")
								input(type="submit" value="Подписаться")
							label.subscribe-line__sub-text
								input(type="checkbox")
								| Я согласен с правиласи пользования сервисом
		.wrapper
			.footer
				.footer__flex-row
					.footer__column.footer__column_about-us
						.footer__title О компании
						ul
							li.footer__list.active
								a(href="#") Контакты
							li.footer__list
								a(href="#") Пресса о нас
							li.footer__list
								a(href="#") Политика конфиденциальности и оферта
							li.footer__list
								a(href="#") Условия обмена и возврата
					.footer__column
						.footer__title Сервис
						ul
							li.footer__list
								a(href="#") Личный кабинет
							li.footer__list
								a(href="#") Корзина
							li.footer__list
								a(href="#") Оформить бесплатную доставку
							li.footer__list
								a(href="#") Оплата
							li.footer__list
								a(href="#") Доставка
					.footer__column.show-phablet
						.footer__title Товары
						ul
							li.footer__list
								a(href="#") Батончики из Шелковицы
							li.footer__list
								a(href="#") Топинамбур
							li.footer__list
								a(href="#") Суперфулы
							li.footer__list
								a(href="#") Урбеч
							li.footer__list
								a(href="#") Какао коллекция
							li.footer__list
								a(href="#") Шоколадная коллекция
							li.footer__list
								a(href="#") Полезные смеси
							li.footer__list
								a(href="#") Масло
					.footer__column.show-tablet
						.footer__phone-number +7 (499) 653-67-89
						.footer__phone-number 8 (800) 800-80-80
						a.footer__email(href="mailto:info@dary-pamira.ru") info@dary-pamira.ru
						.footer__text
							span Работаем с 09:00 до 21:00 без
							span обеда и выходных
						.social-icon
							img(src="images/vk.png")
						.social-icon
							img(src="images/fb.png")
						.social-icon
							img(src="images/instagram.png")
				.hide-tablet.center
					.footer__phone-number +7 (499) 653-67-89
					.footer__phone-number 8 (800) 800-80-80
					a.footer__email(href="mailto:info@dary-pamira.ru") info@dary-pamira.ru
					.footer__text
						span Работаем с 09:00 до 21:00 без
						span обеда и выходных
					.social-icon
						img(src="images/vk.png")
					.social-icon
						img(src="images/fb.png")
					.social-icon
						img(src="images/instagram.png")
		hr
		.wrapper
			.footer_bottom-line
				.footer__flex-row
					.footer_bottom-line__title Дары Памира 2013-2017
					a.footer_bottom-line__title(href="#") Дизайн сайта - Михаил Соловьев
				.footer_bottom-line__text Использование любых материалов с данного ресурса возможно только после личного согласия администратора проекта.

