html
	head
		include ./parts/head.pug
	body
		.header-top
			.wrapper
				.company-info.show-laptop-inline
					ul
						li 
							a(href="#") О нас
						li 
							a(href="#") Оплата
						li 
							a(href="#") Доставка
						li 
							a(href="#") Контакты
						li 
							a(href="#") Вопрос-ответ
						li 
							a(href="#") Поставщикам
				.enter
					img(src="images/lock.png", alt="lock icon")
					a(href="#")
						span.dashed.sign-in Вход
					span |
					a(href="#")
						span.underline Регистрация
		.header-middle
			.wrapper
				.location
					.city
						img(src="images/marker.png", alt="marker")
						a(href="#") Москва
					.points
						span 692 пункта
						br
						span выдачи заказов
				.delivery
					img(src="images/delivery.png", alt="marker")
					.delivery-time
						span Доставка в город
						br
						span Красноярск за 2-14 дней
				.telephone
					a(href="tel:74996546789") +7 (499) 653-67-89
					span по Москве
				.telephone
					a(href="tel:74996546789") +7 (499) 653-67-89
					span бесплатно по России
				.callback
					a(href="#") Обратный звонок
					span с 8:00 до 20:00 по мск
		.wrapper
			.header-bottom
				.logo
					img(src="images/logo.png", alt="logo")
					.text
						span Продукты
						br
						span с пользой для здоровья
				.search
					form
						input(type="search", placeholder="Поиск", name="search")
						button(type="submit")
							i.fa.fa-search
				.favorites
					.favorites-icon
						img(src="images/favorites.png")
						span.favorites-item-count 3
					span Избранное
				a(href="#").shoppingcart
					img(src="images/cart.png")
					span.cart-item-count 3
				a(href="#").shopping-sum
					span
						|2199   
					span
						|q
		.main-menu
			.wrapper
				ul
					li
						a(href="#") Акции
					li
						a(href="#") Питание
					li
						a(href="#") Косметика
					li
						a(href="#") Для дома
					li
						a(href="#") Бренды
					li
						a(href="#") Прочее
					li
						a(href="#") Оптовикам
						img(src="images/opt.png", alt="pic")
		.wrapper
			.row.clearfix
				.col-tablet-2-3
					ul#promoslider
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
				.col-tablet-1-3
					.sale
						.marker
							|Cкидка
						.sale__title
							|Товар дня
						.product
							.product__img.product__img_sale
								.sale__value
									|-20%
								img(src="images/product_sale.png",alt="product")
							.product__name.product__name_sale
								|Батончик с миндалем «Шелковица с Памира»
							.product__price.product__price_sale
								span 20
								span.rouble q
								.product__old-price
									span 20
									span.rouble q
		.wrapper
			ul#productslider
				.product
					.product__img
						img(src="images/product_01.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_02.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_03.png",alt="product")
					.product__name
						|Крем кокосовый органический, "Econutrena", жирность 68%, 300мл
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_04.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
		.section-title
				span Лидеры продаж
		.wrapper
			ul#productslider2
				.product
					.product__img
						img(src="images/product_01.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_02.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_03.png",alt="product")
					.product__name
						|Крем кокосовый органический, "Econutrena", жирность 68%, 300мл
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						img(src="images/product_04.png",alt="product")
					.product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
