html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.clearfix
				.col-tablet-2-3.no-padding.null
					ul#promoslider-mobile.hide-tablet
						img(src="images/promo_slider_mobile.png", alt="promo")
						img(src="images/promo_slider_mobile.png", alt="promo")
						img(src="images/promo_slider_mobile.png", alt="promo")
						img(src="images/promo_slider_mobile.png", alt="promo")
					ul#promoslider.show-tablet
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
				.col-tablet-1-3.no-padding.sale-block
					.sale.clearfix
						.marker
							|Cкидка
						.sale__title
							|Товар дня
						.product.product_sale
							.product__img.product__img_sale.clearfix
								img(src="images/product_sale.png",alt="product")
							.sale__value
								|-20%
							a(href="#").product__name.product__name_sale
								|Кедровое масло холодного отжима "Золотая крепость", 100мл
							.product__price.product__price_sale
								span 20
								span.rouble q
								.product__old-price
									span 20
									span.rouble q
								.product__volume
									|20г.
		.wrapper
			.clearfix
				.sorter
					a.active(href="#")
						span Новинки
					a(href="#")
						span Рекомендуемые
				a(href="#").btn.btn_products.show-tablet
					|Все новинки
					include ./images/arrow_right.svg
			.clearfix.hide-tablet
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product
						.product__img
							a(href="#")
								img(src="images/product_01.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product.border-righ-none
						.product__img
							a(href="#")
								img(src="images/product_02.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product
						.product__img
							a(href="#")
								img(src="images/product_03.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product.border-righ-none
						.product__img
							a(href="#")
								img(src="images/product_04.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
			ul#productslider.show-tablet
				.product
					.product__img
						a(href="#")
							img(src="images/product_01.png",alt="product")
					a(href="#").product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product.border-righ-none
					.product__img
						a(href="#")
							img(src="images/product_02.png",alt="product")
					a(href="#").product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						a(href="#")
							img(src="images/product_03.png",alt="product")
					a(href="#").product__name
						|Крем кокосовый органический, "Econutrena", жирность 68%, 300мл
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						a(href="#")
							img(src="images/product_04.png",alt="product")
					a(href="#").product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
		.hits
			.section-title
					span Лидеры продаж
			.clearfix.hide-tablet
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product
						.product__img
							a(href="#")
								img(src="images/product_01.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product.border-righ-none
						.product__img
							a(href="#")
								img(src="images/product_02.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product
						.product__img
							a(href="#")
								img(src="images/product_03.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product.border-righ-none
						.product__img
							a(href="#")
								img(src="images/product_04.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
			.wrapper
				ul#productslider2.show-tablet
					.product
						.product__img
							img(src="images/product_04.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
					.product
						.product__img
							img(src="images/product_05.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
					.product
						.product__img
							a(href="#")
								img(src="images/product_06.png",alt="product")
						a(href="#").product__name
							|Крем кокосовый органический, "Econutrena", жирность 68%, 300мл
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
					.product
						.product__img
							a(href="#")
								img(src="images/product_07.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г
		.wrapper
			.clearfix
				.col-laptop-1-3.actions
					.block-title
						span Акции
						a(href="#")
							span Все акции
							include ./images/arrow_right.svg
					.article.clearfix
						.article__pic
							img(src="images/article_01.png", alt="article photo")
						.article__text
							.article__pub-date
								|22.07.2018
							a(href="#").article__title
								|Поступление новых брендов
							.article__description
								|Не пропустите самые свежие новинки от Дары Памира.
					.article.clearfix
						.article__pic
							img(src="images/article_02.png", alt="article photo")
						.article__text
							.article__pub-date
								|22.07.2018
							a(href="#").article__title
								|Поступление новых брендов
							.article__description
								|Не пропустите самые свежие новинки от Дары Памира.
					.article.clearfix
						.article__pic
							img(src="images/article_03.png", alt="article photo")
						.article__text
							.article__pub-date
								|22.07.2018
							a(href="#").article__title
								|Поступление новых брендов
							.article__description
								|Не пропустите самые свежие новинки от Дары Памира.
				.col-laptop-1-3.col-phablet-1-2.instagram
					.block-title
						span Наш инстаграмм
						a(href="#")
							span #dary_pamyra
					ul#instaslider
						img(src="images/insta_pic.png", alt="insta_pic")
				.col-laptop-1-3.col-phablet-1-2.actions.padding-off
					.form__tabs
						input#tab1(type="radio" name="tabs" checked)
						label.question(for="tab1") Задать вопрос
						input#tab2(type="radio" name="tabs")
						label.callbacktab(for="tab2") Перезвонить мне
					.form
						section#content1.active
							form
								input(type="text" placeholder="Ваше имя")
								input(type="tel" placeholder="+7 (___) ___ - __ - __")
								textarea
								
								input#agred(type="checkbox")
								label.agred(for="agred") Я соглашаюсь с правиласи пользования сервисом и даю согласие на хранение и обработку моих персональных данных
								input(type="submit" value="Отправить")
								.form__text Мы перезваниваем в рабочеев ремя  в течении 2 часов
						section#content2
							form
								input(type="text" placeholder="Ваше имя")
								input(type="tel" placeholder="+7 (___) ___ - __ - __")
								input(type="submit" value="Отправить")
								.form__text Мы перезваниваем в рабочеев ремя  в течении 2 часов
		.section-title.show-tablet
			span Коротко о магазине
		.wrapper.show-tablet
			p Компания «Дары Памира» - это сплоченная команда увлеченных идеей здорового питания людей. Мы специализируемся на производстве и дистрибуции продуктов здорового питания. Основная идея нашего проекта - распространение и популяризация философии потребления вкусных и полезных для здоровья продуктов питания. Стратегические планы компании ориентированы на развитии собственных и партнерских производств, работе с перспективными производителями готовой продукции и сырья, исследовательской и научной деятельности по разработке новых интересных продуктов совместно исследовательскими пищевыми учреждениями (ФГБНУ ВНИИТЕК и др.), а также инвестиционных проектах – поддержке и финансировании фермерских хозяйств, производителей, поставщиков сырья. Важный актив компании – выстроенная сбытовая сеть партнерских торговых точек и дистрибуторов России и ближнего зарубежья, которая активно растет. Мы очень благодарны нашим партнерам за доверие и причастность к нашему общему делу.
			.about-company
				a(href="#").btn.btn_details
					|Подробнее
					img(src="images/button_arrow_circle.png", alt="arrow")
		include ./parts/subscribe-form.pug
		include ./parts/footer.pug
