html
	head
		include ./parts/head.pug
	body
		.page.disable-scrolling
			.fixed-overlay.fixed-overlay__modal.callback
				.modal
					.modal_container
						span.icon.icon_remove-item
						form
							.modal__title Перезвоните мне
							.wrap-input
								span Представтесь
								input
							.wrap-input
								span Номер телефона
								input(type="tel" placeholder="+7 (___) ___ - __ - __ ")
							input.btn.btn_callback(type="submit" value="Перезвоните мне")
			.fixed-overlay.fixed-overlay__modal.sing-in
				.modal
					.modal_container
						span.icon.icon_remove-item
						form
							.modal__title Войти
							.wrap-input
								span Логин
								input
							.wrap-input
								span Пароль
								input(type="password")
							input.btn.btn_callback(type="submit" value="Войти")
							a.forgot-password(href="#") Забыли пароль?
			.fixed-overlay.fixed-overlay__modal.region-city
				.modal
					.modal_container.modal_container_region-city
						span.icon.icon_remove-item.icon_remove-item_region-city
						.region-city__side-bar
							.region-city__title Россия
							.region-city__sub-title Регион
							ul
								li.region-city__list Москва
								li.region-city__list Московская область
								li.region-city__list.active Санкт-Петербург
								li.region-city__list Севастополь
								li.region-city__list Байконур
								li.region-city__list Алтайский край
								li.region-city__list Амурская область
								li.region-city__list Архангельская область
								li.region-city__list Астраханская область
								li.region-city__list Белгородская область
								li.region-city__list Брянская область
								li.region-city__list Владимирская область
								li.region-city__list Волгоградская область
								li.region-city__list Байконур
								li.region-city__list Алтайский край
								li.region-city__list Амурская область
								li.region-city__list Архангельская область
								li.region-city__list Астраханская область
								li.region-city__list Белгородская область
								li.region-city__list Брянская область
								li.region-city__list Владимирская область
								li.region-city__list Волгоградская область
						.region-city__content-bar
							.region-city__sub-title Населенный пункт
							.region-city__wrap-content-box
								.region-city__content-box
									ul
										span А
										li.region-city__list Астрахань
									ul
										span Б
										li.region-city__list Байконур
										li.region-city__list Барнаул
									ul
										span В
										li.region-city__list Владивосток
										li.region-city__list Волгоград
										li.region-city__list Воронеж
									ul
										span E
										li.region-city__list Екатеринбург
									ul
										span И
										li.region-city__list Ижевск
										li.region-city__list Иркутск
									ul
										span К
										li.region-city__list Казань
										li.region-city__list Кемерово
										li.region-city__list Краснодар
										li.region-city__list Красноярск
									ul
										span М
										li.region-city__list Махачкала
										li.region-city__list Москва
									ul
										span Н
										li.region-city__list Набережные Челны
										li.region-city__list Нижний Новгород
										li.region-city__list Новокузнецк
										li.region-city__list Новосибирск
									ul
										span О
										li.region-city__list Омск
										li.region-city__list Оренбург
									ul
										span П
										li.region-city__list Пермь
									ul
										span Р
										li.region-city__list Ростов-на-Дону
										li.region-city__list Рязань
									ul
										span С
										li.region-city__list Самара
										li.region-city__list Санкт-Петербург
										li.region-city__list Саратов
										li.region-city__list Севастополь
		.wrapper
			.main-menu-mobile
				.close-btn
					img(src="images/remove_item.png", alt="Спрятать фильтр")
				.enter.enter_mobile
					img(src="images/lock_mobile.png", alt="lock icon")
					a(href="#")
						span.dashed.sign-in Вход
					span |
					a(href="#")
						span.underline Зарегистрироваться
				.catalog
					ul
						li 
							span Акции
							i.fa.fa-angle-right
						li 
							span Питание
							i.fa.fa-angle-right
						li
							span Косметика
							i.fa.fa-angle-right
						li 
							span Для дома
							i.fa.fa-angle-right
						li 
							span Бренды
							i.fa.fa-angle-right
						li 
							span Прочее
							i.fa.fa-angle-right
				.wholesalers
					a(href="#") Оптовикам
						img(src="images/opt.png", alt="pic")
				.company-info.company-info_mobile
					ul
						li
							a(href="#") О нас
						li
							a(href="#") Оплата
						li
							a(href="#") Доставка
						li
							a(href="#") Контакты
						li
							a(href="#") Вопрос-ответ
						li
							a(href="#") Поставщикам

		.header-top
			.wrapper
				.company-info.show-laptop-inline
					ul
						li
							a(href="#") О нас
						li
							a(href="#") Оплата
						li
							a(href="#") Доставка
						li
							a(href="#") Контакты
						li
							a(href="#") Вопрос-ответ
						li
							a(href="#") Поставщикам
				.enter
					img(src="images/lock.png", alt="lock icon")
					a(href="#")
						span.dashed.sign-in Вход
					span |
					a(href="#")
						span.underline Зарегистрироваться
				.city.city_top-line
					img(src="images/marker.png", alt="marker")
					a(href="#") Москва
				.telephone.telephone_top-line
					a(href="tel:74996546789") +7 (499) 653-67-89
		.header-middle
			.wrapper
				.location
					.city
						img(src="images/marker.png", alt="marker")
						a(href="#") Москва
					.points
						span 692 пункта
						br
						span выдачи заказов
				.delivery
					img(src="images/delivery.png", alt="marker")
					.delivery-time
						span Доставка в город
						br
						a(href='#')
							span Красноярск за 2-14 дней
				.telephone
					a(href="tel:74996546789") +7 (499) 653-67-89
					span по Москве
				.telephone
					a(href="tel:74996546789") +7 (499) 653-67-89
					span бесплатно по России
				.callback
					a(href="#") Обратный звонок
					span с 8:00 до 20:00 по мск
		.wrapper
			.header-bottom
				.search-form
					form
						input(type="search", placeholder="Поиск", name="search")
						button(type="submit") Найти
				.bars
					.bar
					.bar
					.bar
				.search-mobile
					img(src="images/magnifying_glass.png", alt="search")
				.logo
					img(src="images/logo.png", alt="logo")
					.text
						span Продукты
						br
						span с пользой для здоровья
				.search
					form
						input(type="search", placeholder="Поиск", name="search")
						button(type="submit")
							i.fa.fa-search
				a(href="#").favorites
					.favorites-icon
						span.icon.icon_favorites
						span.favorites-item-count 3
					span Избранное
				a(href="#").shoppingcart
					span.icon.icon_cart
					span.cart-item-count 3
					a(href="#").shopping-sum
						span
							|2199
						span
							|q
		.main-menu
			.wrapper
				ul
					li
						a(href="#") Акции
					li
						a(href="#") Питание
					li.active
						a(href="#") Косметика
						ul.categories
							.title Разделы
							li Очищение
							li Снятие макияжа
							li Тоники
							li Скрабы и пилинги
							li Сыворотки и флюиды
							li Дневные кремы
							li Ночной уход
							li Маски для лица
							li Уход за шеей
							ul.bra
					li
						a(href="#") Для дома
					li
						a(href="#") Бренды
					li
						a(href="#") Прочее
					li
						a(href="#") Оптовикам
							img(src="images/opt.png", alt="pic")
		.wrapper
			.clearfix
				.col-tablet-2-3.no-padding.null
					ul#promoslider-mobile.hide-tablet
						img(src="images/promo_slider_mobile.png", alt="promo")
						img(src="images/promo_slider_mobile.png", alt="promo")
						img(src="images/promo_slider_mobile.png", alt="promo")
						img(src="images/promo_slider_mobile.png", alt="promo")
					ul#promoslider.show-tablet
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
						img(src="images/promo_slider.png", alt="promo")
				.col-tablet-1-3.no-padding.sale-block
					.sale.clearfix
						.marker
							|Cкидка
						.sale__title
							|Товар дня
						.product.product_sale
							.product__img.product__img_sale.clearfix
								img(src="images/product_sale.png",alt="product")
							.sale__value
								|-20%
							a(href="#").product__name.product__name_sale
								|Кедровое масло холодного отжима "Золотая крепость", 100мл
							.product__price.product__price_sale
								span 20
								span.rouble q
								.product__old-price
									span 20
									span.rouble q
								.product__volume
									|20г.
		.wrapper
			.clearfix
				.sorter
					a.active(href="#")
						span Новинки
					a(href="#")
						span Рекомендуемые
				a(href="#").btn.btn_products.show-tablet
					|Все новинки
					include ./images/arrow_right.svg
			.clearfix.hide-tablet
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product
						.product__img
							a(href="#")
								img(src="images/product_01.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product.border-righ-none
						.product__img
							a(href="#")
								img(src="images/product_02.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product
						.product__img
							a(href="#")
								img(src="images/product_03.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product.border-righ-none
						.product__img
							a(href="#")
								img(src="images/product_04.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
			ul#productslider.show-tablet
				.product
					.product__img
						a(href="#")
							img(src="images/product_01.png",alt="product")
					a(href="#").product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product.border-righ-none
					.product__img
						a(href="#")
							img(src="images/product_02.png",alt="product")
					a(href="#").product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						a(href="#")
							img(src="images/product_03.png",alt="product")
					a(href="#").product__name
						|Крем кокосовый органический, "Econutrena", жирность 68%, 300мл
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
				.product
					.product__img
						a(href="#")
							img(src="images/product_04.png",alt="product")
					a(href="#").product__name
						|Батончик с миндалем «Шелковица с Памира»
					.product__code
						|ДарыПамира  /  LFG-934
					.product__price
						span 20
						span.rouble q
						.product__volume
							|20г.
		.hits
			.section-title
					span Лидеры продаж
			.clearfix.hide-tablet
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product
						.product__img
							a(href="#")
								img(src="images/product_01.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product.border-righ-none
						.product__img
							a(href="#")
								img(src="images/product_02.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product
						.product__img
							a(href="#")
								img(src="images/product_03.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-mobileonly-1-2.col-phablet-1-2.col-mobileonly-1-2_padding-none.col-phablet-1-2_padding-none
					.product.border-righ-none
						.product__img
							a(href="#")
								img(src="images/product_04.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
			.wrapper
				ul#productslider2.show-tablet
					.product
						.product__img
							img(src="images/product_04.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
					.product
						.product__img
							img(src="images/product_05.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
					.product
						.product__img
							a(href="#")
								img(src="images/product_06.png",alt="product")
						a(href="#").product__name
							|Крем кокосовый органический, "Econutrena", жирность 68%, 300мл
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
					.product
						.product__img
							a(href="#")
								img(src="images/product_07.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г
		.wrapper
			.clearfix
				.col-laptop-1-3.actions
					.block-title
						span Акции
						a(href="#")
							span Все акции
							include ./images/arrow_right.svg
					.article.clearfix
						.article__pic
							img(src="images/article_01.png", alt="article photo")
						.article__text
							.article__pub-date
								|22.07.2018
							a(href="#").article__title
								|Поступление новых брендов
							.article__description
								|Не пропустите самые свежие новинки от Дары Памира.
					.article.clearfix
						.article__pic
							img(src="images/article_02.png", alt="article photo")
						.article__text
							.article__pub-date
								|22.07.2018
							a(href="#").article__title
								|Поступление новых брендов
							.article__description
								|Не пропустите самые свежие новинки от Дары Памира.
					.article.clearfix
						.article__pic
							img(src="images/article_03.png", alt="article photo")
						.article__text
							.article__pub-date
								|22.07.2018
							a(href="#").article__title
								|Поступление новых брендов
							.article__description
								|Не пропустите самые свежие новинки от Дары Памира.
				.col-laptop-1-3.col-phablet-1-2.instagram
					.block-title
						span Наш инстаграмм
						a(href="#")
							span #dary_pamyra
					ul#instaslider
						img(src="images/insta_pic.png", alt="insta_pic")
				.col-laptop-1-3.col-phablet-1-2.actions.padding-off
					.form__tabs
						input#tab1(type="radio" name="tabs" checked)
						label.question(for="tab1") Задать вопрос
						input#tab2(type="radio" name="tabs")
						label.callbacktab(for="tab2") Перезвонить мне
					.form
						section#content1.active
							form
								input(type="text" placeholder="Ваше имя")
								input(type="tel" placeholder="+7 (___) ___ - __ - __")
								textarea
								
								input#agred(type="checkbox")
								label.agred(for="agred") Я соглашаюсь с правиласи пользования сервисом и даю согласие на хранение и обработку моих персональных данных
								input(type="submit" value="Отправить")
								.form__text Мы перезваниваем в рабочеев ремя  в течении 2 часов
						section#content2
							form
								input(type="text" placeholder="Ваше имя")
								input(type="tel" placeholder="+7 (___) ___ - __ - __")
								input(type="submit" value="Отправить")
								.form__text Мы перезваниваем в рабочеев ремя  в течении 2 часов
		.section-title.show-tablet
			span Коротко о магазине
		.wrapper.show-tablet
			p Компания «Дары Памира» - это сплоченная команда увлеченных идеей здорового питания людей. Мы специализируемся на производстве и дистрибуции продуктов здорового питания. Основная идея нашего проекта - распространение и популяризация философии потребления вкусных и полезных для здоровья продуктов питания. Стратегические планы компании ориентированы на развитии собственных и партнерских производств, работе с перспективными производителями готовой продукции и сырья, исследовательской и научной деятельности по разработке новых интересных продуктов совместно исследовательскими пищевыми учреждениями (ФГБНУ ВНИИТЕК и др.), а также инвестиционных проектах – поддержке и финансировании фермерских хозяйств, производителей, поставщиков сырья. Важный актив компании – выстроенная сбытовая сеть партнерских торговых точек и дистрибуторов России и ближнего зарубежья, которая активно растет. Мы очень благодарны нашим партнерам за доверие и причастность к нашему общему делу.
			.about-company
				a(href="#").btn.btn_details
					|Подробнее
					img(src="images/button_arrow_circle.png", alt="arrow")
		.subscribe-line
			.wrapper
				.row.clearfix
					.col-tablet-1-2
						.subscribe-line__main-text Статьи, рекомендации и новости от марки Дары пальмира, Бесплатные советы экспертов о натуральных продуктах косметике, красоте и здоровье.
						.subscribe-line__sub-text Мы не рассылаем СПАМ, только важные акции!
					.col-tablet-1-2
						form
							.subscribe-line__container-flex
								.inputwrap
									input.email(type="email" placeholder="Ваш e-mail")
									img(src="images/mail.png", alt="mail")
								.inputwrap
									input(type="submit" value="Подписаться")
									include ./images/arrow_right.svg
							label.subscribe-line__sub-text
								input(type="checkbox")
								| Я согласен с правиласи пользования сервисом
		.wrapper
			.footer
				.footer__flex-row
					.footer__column.footer__column_about-us
						.footer__title О компании
							i.fa.fa-chevron-down
						ul.active
							li.footer__list.active
								a(href="#") Контакты
							li.footer__list
								a(href="#") Пресса о нас
							li.footer__list
								a(href="#") Политика конфиденциальности и оферта
							li.footer__list
								a(href="#") Условия обмена и возврата
					.footer__column
						.footer__title Сервис
							i.fa.fa-chevron-down
						ul
							li.footer__list
								a(href="#") Личный кабинет
							li.footer__list
								a(href="#") Корзина
							li.footer__list
								a(href="#") Оформить бесплатную доставку
							li.footer__list
								a(href="#") Оплата
							li.footer__list
								a(href="#") Доставка
					.footer__column
						.footer__title Товары
							i.fa.fa-chevron-down
						ul
							li.footer__list
								a(href="#") Батончики из Шелковицы
							li.footer__list
								a(href="#") Топинамбур
							li.footer__list
								a(href="#") Суперфулы
							li.footer__list
								a(href="#") Урбеч
							li.footer__list
								a(href="#") Какао коллекция
							li.footer__list
								a(href="#") Шоколадная коллекция
							li.footer__list
								a(href="#") Полезные смеси
							li.footer__list
								a(href="#") Масло
					.footer__column.show-tablet
						.footer__phone-number +7 (499) 653-67-89
						.footer__phone-number 8 (800) 800-80-80
						a.footer__email(href="mailto:info@dary-pamira.ru") info@dary-pamira.ru
						.footer__text
							span Работаем с 09:00 до 21:00 без
							span обеда и выходных
						.footer__social-icon
							img(src="images/vk.png")
						.footer__social-icon
							img(src="images/fb.png")
						.footer__social-icon
							img(src="images/instagram.png")
			hr.footer__hr.hide-phablet
			.hide-tablet.center
				.footer__phone-number +7 (499) 653-67-89
				.footer__phone-number 8 (800) 800-80-80
				a.footer__email(href="mailto:info@dary-pamira.ru") info@dary-pamira.ru
				.footer__text.footer__text_schedule
					span Работаем с 09:00 до 21:00 без
					span обеда и выходных
				.footer__social-icon
					img(src="images/vk.png")
				.footer__social-icon
					img(src="images/fb.png")
				.footer__social-icon
					img(src="images/instagram.png")
		hr.show-phablet
		.wrapper
			.footer_bottom-line
				.footer__flex-row
					.footer_bottom-line__title Дары Памира 2013-2017
					a.footer_bottom-line__title.show-phablet(href="#") Дизайн сайта - Михаил Соловьев
				.footer_bottom-line__text Использование любых материалов с данного ресурса возможно только после личного согласия администратора проекта.

