html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			ul.breadcrumbs.show-laptop
					li
						a(href="index.html") Главная
					li
						a(href="#") Оформление заказа
			.authorized-order__title.authorized-order__title_topform Оформление заказа 
					span  (Без авторизации)
			.enter-form
				.enter-form__title
					|Войти на сайт
				p Что бы получать и копить бонусы, а также отлеживать доставку товаров, необходимо войти в свой личный кабинет.
				.clearfix
					.enter-form__login
						input(placeholder="E-mail или телефон")
						input(placeholder="Пароль")
						input(name="save", id="save", type="checkbox")
						label(for="save") 
							span Запомнить меня
						.btn.btn_enter Войти
					.enter-form-col
						.enter-form__block
							span
								|Войти с помощью соцсетей
							.icons
								a(href="#")
									img(src="images/vk_order.png")
								a(href="#")
									img(src="images/fb_order.png")
								a(href="#")
									img(src="images/ok_order.png")
								a(href="#")
									img(src="images/insta_order.png")
						.enter-form__block.enter-form__block_withot-registration
							span
								|Нет учетной записи?
							p Вы можете создать ее после оформления заказа и получить все возможности авторизированного клиента
						.btn.btn_register-later
							|Продолжить без авторизации
			.authorized-order
				.authorized-order__title Оформление заказа 
					span  (Авторизированный пользователь)
				form.authorized-order__form
					.authorized-order__data
						.authorized-order__sub-title Контактные данные
						.authorized-order__contacts
							input(placeholder="Контактное лицо* (ФИО)")
							input(type="tel" placeholder="Контактный телефон*" requared)
							input(type="email" placeholder="E-mail")
							input(placeholder="Населенный пункт*" requared)
						.authorized-order__info
							.authorized-order__info-row
								.authorized-order__sub-title Служба доставки
								.wrap-inner
									input#delivery(type="radio" name="delivery" checked)
									label(for="delivery") Доставка
									input#pickup(type="radio" name="delivery")
									label(for="pickup") Самовывоз
							.authorized-order__info-row
								.authorized-order__sub-title Служба доставки
								.wrap-inner
									select.select-delivery
										option Постаматы PickPoint
										option Постаматы PickPoint
									.authorized-order__info-row.up
										.authorized-order__sub-title + 350 руб.
										a.authorized-order__delivery-place(href="#") Выберите пункт выдачи
							.authorized-order__info-row
								.authorized-order__sub-title Бонусная карта
								.wrap-inner
									input(placeholder="2345-678-323-567")
							.authorized-order__info-row
								.authorized-order__sub-title Код скидки
								.wrap-inner
									input(placeholder="H4322DF23-12")
						.authorized-order__adress
							.authorized-order__sub-title Адрес доставки
							input.street(placeholder="Улица")
							input(placeholder="Дом")
							input(placeholder="Квартира")
							input(placeholder="Подъезд")
							input(placeholder="Этаж")
							
					.authorized-order__products
						.authorized-order__sub-title Ваши товары
						table(class="order")
							tbody
								tr
									td.picture
										img(src="images/product_02.png",alt="product")
									td.middle
										a(href="#").product__name.product__name_cart
											|Батончик с миндалем «Шелковица с Памира»
									td.middle.off-right-padding
										.product__price.product__price_cart
											span 20
											span.rouble q
											span.multiply x1
								tr
									td.picture
										img(src="images/product_02.png",alt="product")
									td.middle
										a(href="#").product__name.product__name_cart
											|Батончик с миндалем «Шелковица с Памира»
									td.middle.off-right-padding
										.product__price.product__price_cart
											span 20
											span.rouble q
											span.multiply x1
								tr
									td.picture
										img(src="images/product_02.png",alt="product")
									td.middle
										a(href="#").product__name.product__name_cart
											|Батончик с миндалем «Шелковица с Памира»
									td.middle.off-right-padding
										.product__price.product__price_cart
											span 20
											span.rouble q
						.authorized-order__info-row
							.authorized-order__total Итого:
							.product__price
								span 20
								span.rouble q
						.authorized-order__info-row
							.authorized-order__delivery-cost Стоимость доставки:
							.product__price
								span 20
								span.rouble q
						.authorized-order__buy
							input(type="submit" value="Купить")

		include ./parts/subscribe-form.pug
		include ./parts/footer.pug