html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			ul.breadcrumbs.show-laptop
					li
						a(href="index.html") Главная
					li
						a(href="#") Каоточка товара
			.productcard-name
				|Батончик «Утренний взрыв бодрости", 45г
			.clearfix
				.col-laptop-3-5
					ul#Product-card-slider
						li(data-thumb="images/product_card.png")
							img(src="images/product_card.png")
						li(data-thumb="images/product_card.png")
							img(src="images/product_card.png")
						li(data-thumb="images/product_card.png")
							img(src="images/product_card.png")
					.share
						span
							|Войти с помощью соцсетей
						.icons
							a(href="#")
								img(src="images/vk_order.png")
							a(href="#")
								img(src="images/fb_order.png")
							a(href="#")
								img(src="images/ok_order.png")
							a(href="#")
								img(src="images/insta_order.png")
				.col-laptop-2-5
					.product-card__info
						.product-card__number
							|Артикул: GRF-004
						.product-card__rating
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star
							i.fa.fa-star-o
						.product-card__rewievs
							a(href="#") 190 отзывов
					.product-card__maker
						.logo
							img(src="images/logo.png", alt="logo")
						.maker-info
							a(href="#").country
								|Россия
							a(href="#").name
								|Дары Памира
					.product-card__add-to-fav
						a(href="#")
							span.icon.icon_favorites
							span Добавить в избанное
					.product-card__price
						.old-price
							span 60
							span.rouble q
						span 25
						span.rouble q
					.product-card__availability
						span Наличие товара
						span.count Много
					.product-card__buttons
						.product-amount
							input(type="text" value="1" class="items-amount")
							span.val шт.
							span.icon.icon_amount-minus
							span.icon.icon_amount-plus
						.btn.btn_buy-product
							img(src="images/cart_icon.png")
							span Купить
						.btn.btn_oneclick-productcard.hide-tablet Купить в 1 клик
						.btn.btn_oneclick-productcard.show-tablet-inline Купить в один клик
					.product-card__byu-in-bulk
						a(href="#")
							img(src="images/box_icon.png", alt="box")
							span Купить оптом
					.product-card__delivery
						span Доставим в ваш город 01 Июля
					.product-card__form
						.form__tabs
							input#tab1(type="radio" name="tabs" checked)
							label.question(for="tab1")
								span  Доставка
							input#tab2(type="radio" name="tabs")
							label.callbacktab(for="tab2")
								span Оплата
							.form
								section#content1.active
									p При заказе до 4000 рублей - 350 рублей
								
									p При заказе свыше 4000 рублей - Бесплатно
									
									p За пределы МКАД + 25 руб./км.
									a(href="#").btn.btn_productdetails
										|Подробнее о доставке
										img(src="images/button_arrow_circle_grey.png", alt="arrow")
								section#content2
				.col-laptop-3-5
					.block-title.block-title_slider
						|Информация о товаре
					p Финиковый батончик с добавлением натуральных ингредиентов. Натуральный продукт без консервантов, без искусственных добавок, без сахара. Подходит для веганов. Финиковый батончик с добавлением натуральных ингредиентов. Натуральный продукт без консервантов, без искусственных добавок, без сахара. Подходит для веганов.Финиковый батончик с добавлением натуральных ингредиентов. Натуральный продукт без консервантов, без искусственных добавок, без сахара. Подходит для веганов.
					p Финиковый батончик с добавлением натуральных ингредиентов. Натуральный продукт без консервантов, без искусственных добавок, без сахара. Подходит для веганов.
					p Финиковый батончик с добавлением натуральных ингредиентов. Натуральный продукт без консервантов, без искусственных добавок, без сахара. Подходит для веганов. Финиковый батончик с добавлением натуральных ингредиентов. Натуральный продукт без консервантов, без искусственных добавок, без сахара. Подходит для веганов.Финиковый батончик с добавлением натуральных ингредиентов.
					a(href="#").btn.btn_details
						|Подробнее
						img(src="images/button_arrow_circle.png", alt="arrow")
				.col-laptop-2-5
					.block-title.block-title_slider Недавно просмотренные
					table(class="order")
						tbody
							tr
								td.picture
									img(src="images/product_02.png",alt="product")
								td.middle
									a(href="#").product__name.product__name_cart
										|Батончик с миндалем «Шелковица с Памира»
							tr
								td.picture
									img(src="images/product_02.png",alt="product")
								td.middle
									a(href="#").product__name.product__name_cart
										|Батончик с миндалем «Шелковица с Памира»
							tr
								td.picture
									img(src="images/product_02.png",alt="product")
								td.middle
									a(href="#").product__name.product__name_cart
										|Батончик с миндалем «Шелковица с Памира»
			.block-title.block-title_slider Похожие товары
			.clearfix
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4.padding-off
					.product
						.product__img
							img(src="images/product_01.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4.padding-off
					.product
						.product__img
							img(src="images/product_02.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4.padding-off
					.product
						.product__img
							img(src="images/product_07.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
				.col-phablet-1-2.col-tablet-1-3.col-laptop-1-4.padding-off
					.product
						.product__img
							img(src="images/product_03.png",alt="product")
						a(href="#").product__name
							|Батончик с миндалем «Шелковица с Памира»
						.product__code
							|ДарыПамира  /  LFG-934
						.product__price
							span 20
							span.rouble q
							.product__volume
								|20г.
			.add-review
				.question
					|Уже попробовали продукт?
				.btn.btn_add-comment
					|Оставить отзыв
				.authorize
					a(href="#") Авторизуйтесь
					span , чтобы оставить отзыв
			.comments-sorter
				span
					|Сначала
				select.sort-comments
					option(selected) Новые 
					option Популярные
			.comment
				.comment__rating
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
				.comment__pic
					img(src="images/avatar_man.png", alt="avatar")
				.comment__author
					|Сергей С.
				.comment__date
					|17 марта 2018 г. в 17:46
				.comment__title
					|Отличный вкус, очень насыщенный и питательный!
				.comment__text
					|Заказала первый раз такой протеиновый батончик, он оказался очень питательным и вкусным) Теперь буду брать постоянно вместо калорийных и углеводистых шоколадок) Тренируюсь я не так часто, мышцы не набираю, а просто поддерживаю вес. Думаю, что от этого батончика меня не “разнесет”)
				a(href="#") Ответить
			.comment
				.comment__rating
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o
				.comment__pic
					img(src="images/avatar_woman.png", alt="avatar")
				.comment__author
					|Юлия К.
				.comment__date
					|17 марта 2018 г. в 17:46
				.comment__title
					|Отличный вкус, очень насыщенный и питательный!
				.comment__text
					|Заказала первый раз такой протеиновый батончик, он оказался очень питательным и вкусным) Теперь буду брать постоянно вместо калорийных и углеводистых шоколадок) Тренируюсь я не так часто, мышцы не набираю, а просто поддерживаю вес. Думаю, что от этого батончика меня не “разнесет”)
				a(href="#") Ответить
			.paginator.paginator_comments
						ul
							a(href="#")
								li 1
							a(href="#")
								li.active 2
							a(href="#")
								li 3
							a(href="#").show-tablet-inline
								li 4
							a(href="#").show-tablet-inline
								li 5
							a(href="#")
								li.next
									include ./images/arrow_right.svg

		include ./parts/subscribe-form.pug
		include ./parts/footer.pug